.block-single-news {
	position: relative;
	margin: 0;
	padding: 0;
	width: 284px;
}

.block-single-news h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	color: #000;
	padding-bottom: 8px;
	margin-bottom: 18px;
}

.block-single-news .filtered-materials-list,
.block-single-news .filtered-materials-list .news-row {
	padding: 0;
}

.block-single-news .filtered-materials-list .news-row .news-textfield,
.block-single-news .filtered-materials-list .news-row.has-photo .news-textfield {
	margin-left: 0px;
	padding-bottom: 0px;
}

.block-single-news .filtered-materials-list .news-photo {
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 4px;
}

.block-single-news .news-date {
	color: #bbb;
	font-size: 13px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.block-single-news .news_all {
	display: block;
	clear: both;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #ccc;
	width: 282px;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.block-single-news .news_all:hover {
	color: rgb(0, 147, 221);
}

.block-single-news .news_all:active {
	background-color: rgb(0, 147, 221);
	border-color: rgb(0, 147, 221);
	color: #fff;
}
