@font-face {
  font-family: 'RalewayBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway/Raleway-Bold.ttf')  format('truetype'),
}

@font-face {
  font-family: 'RalewayMedium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway/Raleway-Medium.ttf')  format('truetype'),
}

@font-face {
  font-family: 'RalewaySemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'RalewayRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IMBPlexSansBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IMBPlexSansMedium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PTMonoRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/pt-mono/PTMonoRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'LoraItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LoraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/lora/Lora-Bold.ttf') format('truetype');
}
