// templates: khabkrai, khabkrai-oiv, khabkrai-omsu

.contentblock_page-list-editor{
    .titles-form-inputs{
        background: #00537a;
        padding: 10px;
        color: #ffffff;
    }
    .contentblock_title_add-new{
        margin-top: 30px;
    }
}
.form_page-list-editor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .form__inputs{
        width: 88%;
        vertical-align: top;
        &.form__inputs_flex{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        input{
            box-sizing: border-box;
        }
    }
    .wrap-inputs_form-authors{
        width: 49%;
    }
    .form__buttons{
        width: 10%;
        vertical-align: top;
        text-align: right;
        font-size: 0;
        margin-top: 20px;
        .link_delete-item{
            text-decoration: none;
            .btn{
                margin-right: 0;
            }
        }
        .btn{
            margin-right: 6px;
            height: 34px;
            width: 34px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    .form-control{
        margin-top: 20px;
    }
    .styler_select-units{
        width: 100%;
        margin-top: 20px;
    }
    .styler_btn-add-new{
        margin-top: 20px;
    }
}
.form_list-authors{
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.form-group__select_author-of-material{
    width: 100%;
}
.warning-edit-form{
    padding: 60px 40px;
    text-align: center;
    height: 110px;
    &__message{
        margin-bottom: 27px;
        font-size: 16px;
        font-family: helveticaneuecyrbold, sans-serif;
    }
    &__btn-save{
        margin-right: 20px;
        .glyphicon{
            margin-right: 6px;
        }
    }
}
.addfileform__btn_add-more{
    vertical-align: top;
    margin-top: 3px;
    margin-left: 5px;
    height: 32px;
}
.add-file-form{
    &__response-message{
        padding: 14px 0 14px 8px;
        font-family: helveticaneuecyrbold, sans-serif;
        background-color: yellow;
    }
    &__response-message_success{
        color: green;
    }
    &__response-message_fail{
        color: red;
    }
}
.input-row{
    margin-top: 14px;
}
.statistic-table{
    margin-top: 20px;
}