.block-videos {
	position: relative;
	margin: 0;
	padding: 0;
	width: 284px;
}

.block-videos h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	color: #000;
	padding-bottom: 8px;
	margin-bottom: 18px;
}

.block-videos .video {
	position: relative;
	display: block;
	width: 276px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	font-size: 0px;
}

.block-videos .video_cover {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.block-videos .video_info,
.block-videos .video_info > span {
	display: block;
	font-size: 12px;
	line-height: 1.2em;
	color: #fff;
}

.block-videos .video_info {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 18px 0px;
	overflow: hidden;
}

.block-videos .video_info_count {
	float: left;
	width: 68px;
	background: url("/blocks/videos/images/video_count.png") top center no-repeat;
	text-align: center;
	height: 50px;
}

.block-videos .video_info_name {
	margin-top: 2px;
	padding-left: 68px;
}

.block-videos .videos_all {
	display: block;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #ccc;
	width: 282px;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.block-videos .videos_all:hover {
	color: rgb(0, 147, 221);
}

.block-videos .videos_all:active {
	background-color: rgb(0, 147, 221);
	border-color: rgb(0, 147, 221);
	color: #fff;
}

