.block-connections {
	position: relative;
	margin: 0;
	padding: 0;
}

.connected-materials {
	margin-top: 30px;
}

.connected-materials .material {
	display: block;
	padding: 15px 0px;
	padding-left: 40px;
	color: #bbb;
	text-decoration: none;
	line-height: 1.3em;
}

.connected-materials .material + .material {
	border-top: 1px solid #bbb;
}

.connected-materials .material a {
	color: #0093dd;
	text-decoration: none;
}
.connected-materials .material a:active,
.connected-materials .material a:hover {
	text-decoration: underline;
}
.connected-materials .material-type-keywords a {
	color: #bbb;
}

.connected-materials .material a:hover,
.connected-materials .material a:active,
.connected-materials .material:hover span.title,
.connected-materials .material:active span.title {
	color: rgb(0, 147, 221);
}

.connected-materials .material,
.connected-materials .material-type-41,
.connected-materials .material-type-162 {
	background: url("/images/restyled/material-types/icc3.png") 10px 10px no-repeat;
}

.connected-materials .material,
.connected-materials .material-type-41,
.connected-materials .material-type-162 {
	background: url("/images/restyled/material-types/icc3.png") 10px 10px no-repeat;
}

.connected-materials .material-type-119 {
	background: url("/images/restyled/material-types/icc2.png") 10px 14px no-repeat;
}

.connected-materials .material-type-keywords {
	background: url("/images/restyled/material-types/icc4.png") 10px 14px no-repeat;
}