.block-xform .row {
    margin: 1em 0;
}
.block-xform label {
    display: block;
    line-height: 20px;
    margin: 0 0 0.5em;
    font-weight: bold;
    color: #666;
}
.block-xform input[type="text"],
.block-xform select,
.block-xform textarea {
    line-height: 20px;
    padding: 2px 8px;
    width: 100%;
    box-sizing: border-box;
}
.block-xform input[type="text"],
.block-xform select {
    height: 26px;
}
.block-xform textarea {
    min-height: 86px;
}
.block-xform .row-field-textarea label {
    display: block;
}

.block-xform {
    max-width: 600px;
    margin: 0 auto;
}

.block-xform button {
    padding: 4px 8px;
}

.block-xform .description {
    padding: 1em;
    background-color: rgba(240,250, 255,0.9);
    margin: 1em 0;
    font-size: 125%;
    line-height: 1.5;
}