@font_main: 'helveticaneuecyrroman', Helvetica, Arial;
@font_thin: 'helveticaneuecyrthin', Arial;
@font_light: 'helveticaneuecyrlight', Arial;
@font_medium: 'helveticaneuecyrmedium', Arial;
@font_roman: 'helveticaneuecyrroman', Arial;
@font_bold: 'helveticaneuecyrbold', Arial;
@font_black: 'helveticaneuecyrblack', Arial;

@red: rgb(223, 92, 74);
@text: rgb(0, 62, 93);

.border-radius(@value) {
	-webkit-border-radius: @value;
	-khtml-border-radius: @value;
	-moz-border-radius: @value;
	-ms-border-radius: @value;
	-o-border-radius: @value;
	border-radius: @value;
}

.box-shadow(@value) {
	-webkit-box-shadow: @value;
	-khtml-box-shadow: @value;
	-moz-box-shadow: @value;
	-ms-box-shadow: @value;
	-o-box-shadow: @value;
	box-shadow: @value;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	color: @text;
}

a,
.red {
	color: @red;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

.block-red {
	color: #fff;
	background-color: @red;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: table;
	background: url("/templates/khabkrai/img/404.svg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content.not-found {
	display: table-cell;
	vertical-align: middle;

	.info-wrapper {
		display: inline-block;
		width: 100%;
		/*height: 200px;*/
	}

	.info {
		max-width: 980px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		font-family: @font_medium;
		font-size: 15px;
		padding-bottom: 60px;
		overflow: hidden;
	}

	h1 {
		font-family: Comic Sans MS, Arial;
		font-size: 165px;
		line-height: 1em;
		margin: 0px;
		padding: 0px;
		font-weight: bold;
	}

	h2 {
		font-family: @font_bold;
		font-size: 25px;
		font-weight: normal;
	}

	.desc {
		max-width: 700px;
	}	

	a.btn {
		display: inline-block;
		padding: 12px 15px;
		.border-radius(3px);
		font-family: @font_roman;
		font-size: 17px;
		margin-top: 10px;
		border-bottom: none;
	}

	a.btn:hover {
		background-color: rgb(243, 112, 94);
	}

	a.btn:active {
		.box-shadow(inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5));
	}
}


.column {
	float: left;
	min-width: 200px;

	a {
		display: inline-block;
		clear: both;
		margin-bottom: 2px;
	}

	a:hover,
	a:active {
		border-bottom: 1px solid;
		color: #000;
	}
}