.admin-panel {
  position: relative;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  z-index: 1;
  font-size: 12px;
  color: #fff;
  background: #000;
  z-index: 500;

  .menu-l1 {
    line-height: 25px;
    margin: 5px;
  }
  a {
    padding: 0;
    border: none;
  }
  .menu-l2 a {
    border-left: 1px solid #fff;
    border-top: 1px solid #dFeEFF;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: .75em 1em;
  }
}

.admin_space {
  display: inline;
  float: left;
}

.admin_menu {
  display: inline;
  position: relative;
  float: left;
  padding: 0 20px;
  cursor: pointer;
}

.admin_menu a {
  text-decoration: none;
  color: #fff;
}

.admin_menu a:hover {
  text-decoration: underline;
}

.admin_menu:hover .admin_submenu_container {
  display: block;
}

.admin_submenu {
  padding-bottom: 15px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}

.admin_submenu:hover {
  background-color: rgba(60,60,60,1);
}

.admin_submenu_container .admin_submenu {
  font-size: 14px;
}

.admin_submenu a
{
  color: #fff;
  text-decoration: none;
}

.admin_submenu a:hover
{
  text-decoration: underline;
}

.admin_submenu_container {
  padding-bottom: 0;
  display: none;
  position: absolute;
  top: 35px;
  left: 0px;
  width: 150px;
  background-color: rgba(10,10,10,0.9);
}

.admin_submenumore {
  background-color: rgba(10,10,10,0.9);
  position: absolute;
  left: 140px;
  top: -27px;
  width: 150px;
  display: none;
}

.admin_submenumore:hover{
  display: block;
}

.admin_submenu:hover .admin_submenumore {
  display: block;
}

.choice-list > div {
  overflow: hidden;
}

.admin-message {
  margin: 0 0 1em;
  padding: 1em;
  font-weight: bold;

  &.error {
    background-color: #FDD;
    color: #911;
  }
  &.info {
    background-color: #CEF;
  }
  &.success {
    background-color: #CFE;
    color: #131;
  }
  &.warning {
    background-color: #FE9;
    color: #311;
  }
  p {
    display: block;
    margin: 0.5em 0 1em;
    line-height: 1.5;
    padding: 0;
  }
}