background-color: @color_bg_calm;
color: @color_calm;
background-image: none;

a,
a:hover {
  color: @color_calm;
}
a:focus {
  background-color: @color_bg_outstanding_calm;
}
.activecontact:hover {
    background-color: @color_bg_outstanding_calm;
}
.commissions-element:hover {
    color: @color_calm;
} 
.filtered-materials-list,
.mainmenu,
.mainmenu .option,
.crumbs-wrap,
.contentblock,
.main_regions,
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list,
.block-left-sidebar .sidebar .sidebar-info,
.material_list,
.main_wrapper .news-row .vacancy-type,
.main_wrapper .vacancy-row .vacancy-type,
.omsu_news_wrapper .news-row .vacancy-type,
.omsu_news_wrapper .vacancy-row .vacancy-type,
.material_page_wrapper .news-row .vacancy-type,
.material_page_wrapper .vacancy-row .vacancy-type,
.omsu_main_wrapper .news-row .vacancy-type,
.omsu_main_wrapper .vacancy-row .vacancy-type,
.omsu_villages_wrapper .news-row .vacancy-type,
.omsu_villages_wrapper .vacancy-row .vacancy-type,
.filtered-materials-list .news-row .vacancy-type,
.filtered-materials-list .vacancy-row .vacancy-type {
  color: @color_calm;
  background-color: @color_bg_calm;
}
.main_wrapper .news-row .vacancy-type .flag,
.main_wrapper .vacancy-row .vacancy-type .flag,
.omsu_news_wrapper .news-row .vacancy-type .flag,
.omsu_news_wrapper .vacancy-row .vacancy-type .flag,
.material_page_wrapper .news-row .vacancy-type .flag,
.material_page_wrapper .vacancy-row .vacancy-type .flag,
.omsu_main_wrapper .news-row .vacancy-type .flag,
.omsu_main_wrapper .vacancy-row .vacancy-type .flag,
.omsu_villages_wrapper .news-row .vacancy-type .flag,
.omsu_villages_wrapper .vacancy-row .vacancy-type .flag,
.filtered-materials-list .news-row .vacancy-type .flag,
.filtered-materials-list .vacancy-row .vacancy-type .flag {
  background-image: none;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-region,
    .news-title,
    .news-keywords,
    .vacancy-region,
    .vacancy-keywords,
    .vacancy-title {
      span,
      a {
        color: @color_focus_calm;
      }
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-salary {
      color: @color_focus_calm;
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-type {
      margin-top: -1px;
      padding-left:8px;
    }
  }
}

.main_regions {
  background-image: none;
  .option {
    color: @color_calm;
  }
}
.mainmenu .option:active,
.mainmenu .option:hover,
.mainmenu .option.active {
  background-color: @color_nav_bg_focus_calm;
  color: @color_nav_focus_calm;
}
.crumbs-wrap a {
  color: @color_calm;
  &:hover,
  &:active,
  &:focus {
    color: @color_focus_calm;
  }
}
.secmenu {
  background-color: @color_nav_bg_calm;
  border-bottom-color: @color_layout_border_calm;

  .option {
    background-color: @color_nav_bg_calm;
    color: @color_nav_calm;
    &.active,
    &:active,
    &:hover {
      color: @color_nav_focus_calm;
      background-color: @color_nav_bg_focus_calm;
    }
  }
}
.print-link:hover,
.print-link:active {
  background-position: center -52px;
}
.share-link:hover,
.share-link:active,
.share-link.active {
  background-position: center -55px;
}
.breadcrumbs a:active,
.breadcrumbs a:focus,
.breadcrumbs a:hover,
.breadcrumbs a.focus {
  background-color: @color_nav_link_bg_focus_calm;
}
.rss-link:hover,
.rss-link:active {
  background-position: center -41px;
}
.toggle-hint {
  background-color: transparent;
  .box-shadow(0 0 0 1px @color_bg_focus_calm);
}
&.assist-showhint {
  .toggle-hint {
    background-color: @color_bg_focus_calm;
    color: @color_focus_calm;
  }
  .assist-hint {
    border-color: @color_layout_border_calm;
    background-color: @color_bg_transparent_calm;
    .inner {
      background-color: @color_bg_calm;
    }
  }
}
.assist-toggle a:hover,
.assist-toggle a.active {
  color: @color_focus_calm;
  background-color: @color_bg_focus_calm;
}
.main_regions,
.content.main {
  border-color: @color_layout_border_calm;
}
&.fontsize-normal .size-select a.normal,
&.fontsize-small .size-select a.small,
&.fontsize-big .size-select a.big {
  color: @color_bg_calm;
  background-color: @color_bg_focus_calm;
}
.rkicons .link-devel {
  color: @color_calm;
}
.main_wrapper,
.omsu_documents_wrapper {
  .document-row {
    .download:hover,
    .download:active {
      .icon {
        background-position: 0px -108px;
      }
    }
  }
}
.doubleright,
.doubleleft {
  background-color: @color_bg_calm;
  color: @color_calm;
  border-color: @color_layout_border_calm;
}
.new_style_link {
  background-color: @color_bg_calm;
  color: @color_calm;
}
.omsulist_news_anons {
  color: @color_calm;
}
.SmallRegionInfo {
  background-color: @color_bg_calm;
  border: 1px solid @color_layout_border_calm;
  color: @color_calm;
}
.connected-materials .material a,
.also-read .material:hover .text,
.also-read .material .time {
  color: @color_dim_calm;
}
a.page {
  background-color: @color_bg_focus_calm;
  color: @color_focus_calm;
  &:hover {
    background-color: @color_bg_calm;
    color: @color_calm;
  }
}
.datepicker table.datepickerViewDays .datepickerDays td a {
  color: @color_calm;
  &:hover span {
    color: @color_focus_calm;
    background-color: @color_bg_focus_calm;
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .doubleleft {
    .filter-values {
      .filter-value {
        background-color: @color_bg_focus_calm;
        color: @color_focus_calm;
        border-color: @color_layout_border_calm;
      }
    }
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .doubleleft {
    .filter-values {
      .filter-value {
        .remove-filter-value,
        .filter-remove-link {
          background-image: none;
          &::before {
            content:"×";
            color: @color_focus_calm;
          }
        }
      }
    }
  }
}
.block-oiv-filter,
.block-vacancy-type-filter,
.block-status-filter {
  h3 {
    color: @color_calm;
  }
}

.block-left-sidebar .sidebar .sidebar-info {
  border-top-color: @color_layout_border_calm;
}
.block-left-sidebar .sidebar {
  border-bottom-color: @color_layout_border_calm;
}

.material_list:hover .material_list_name {
  color: @color_calm;
}

.ministry {
  .ministry-contacts .row b {
    color: @color_calm;
  }
}

.ministry:hover {
  color: @color_focus_calm;
  background-color: @color_bg_focus_calm;
  a,
  .ministry_link,
  .ministry-contacts .row b {
    color: @color_focus_calm;
  }
}

.main_wrapper,
.omsu_documents_wrapper {
  .document-row .download .document-name {
    color: @color_calm;
  }
}

.ui-widget-content {
  color: @color_calm;
  background-color: @color_bg_calm;
}
.mainpage_content #tabs {
  a {
    color: @color_calm;
  }
  .tab-link:hover,
  .tab-link.ui-tabs-active,
  .tab-link.ui-tabs-active:hover {
    background-color: @color_bg_calm;
    border-color: @color_tab_border_calm;
    a {
      color: @color_calm;
      border-bottom-color: @color_tab_border_calm;
    }
  }
}
.content {
  #ajax_paginator_btn.link-btn,
  .button.submit,
  .link-btn {
    color: @color_calm;
    background-color: @color_bg_calm;
    border-color: @color_btn_border_calm;
    &:hover {
      text-decoration: underline;
      color: @color_calm;
      border-color: @color_btn_border_calm;
    }
  }
}

#tabs .ui-tabs-panel {
  border-top-color: @color_layout_border_calm;
}

.block-banners-slider .banner-dots {
  a {
    background-color: @color_bg_calm;
    .box-shadow(0 0 0 1px @color_btn_border_calm);
    &:hover,
    &:active,
    &.active {
      background-color: @color_bg_focus_calm;
    }
  }
}

#vote_form .submit-blue-button {
  border: 1px solid @color_calm;
  color: @color_btn_border_calm;
  background-color: @color_bg_calm;
  text-decoration: underline;
}

.contacts_header {
  color: @color_calm;
  background-color: @color_bg_calm;
}

.commissions-element:hover {
  color: @color_calm;
  a,
  a:hover {
    color: @color_focus_calm;
    background-color: @color_bg_focus_calm;
  }
}

div.content div.governor-body {
  background-color: @color_bg_calm;
  .doubleleft .column-header {
    border-bottom: 1px solid @color_layout_border_calm;
    background-color: @color_bg_calm;
  }
  #governor-post,
  #governor-date {
    color: @color_calm;
  }
}
.governor-header {
  border-bottom-color: @color_layout_border_calm;
}
.governor_biography_header,
.governor_biography td,
.governor_biography th {
  background-color: @color_bg_calm;
}

.governor_biography_header {
  border-top-color: @color_bg_calm;
}

.photo_block {
  color: @color_calm;
  background-color: @color_bg_calm;
}

.governor_biography_fio {
  color: @color_calm;
}

.vidget_photo_content {
  .link-btn {
    clear: both;
    a {
      background-color: transparent;
      color: @color_calm;
      padding: 0;
      font-size: 16px;
    }
  }
  .vidget_name {
    color: @color_focus_calm;
  }
}

.assist-toggle {
  a:active,
  a:focus,
  a:hover {
    background-color: @color_bg_focus_calm;
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .date-splitter {
    border-top-color: @color_layout_border_calm;
    border-bottom-color: @color_layout_border_calm;
  }
}

div.content div.governor-body .doubleleft,
div.content div.governor-body .doubleleft .column-trailer,
.content.f_materials_1 .doubleleft,
.content #ajax_paginator_btn.link-btn:hover,
.content .link-btn:hover,
#ajax_paginator_btn.link-btn,
.link-btn,
.block h3,
.mainmenu,
.mainmenu .icons,
.block-omsu-map + .doubleblock,
.omsulist_news_data,
.m1_gprog,
.m1_gprog h2,
.block-photo-albums .album,
.block-videos .video,
.contentblock.m1_gprogkar,
.assist-hint kwd,
.assist-hint em,
.block-single-calendar .dropdowns,
.datepicker table.datepickerViewDays td,
.datepicker table.datepickerViewDays th,
.crumbs-wrap.fixed,
.material_page_wrapper .material-system-data .data-item,
.material_page_wrapper .material-system-data,
.connected-materials .material,
.content-main,
.content-text,
.content-tags,
.content-attachments,
.content-related,
.contacts_header,
table,
td,
th,
.block-left-sidebar .sidebar,
.xauthorities .material_list + .material_list {
  border-color: @color_layout_border_calm;
}
.content_selector_1 input.styler[type="text"]  {
  border-color: @color_layout_border_calm !important;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  h1 {
    border-color: @color_layout_border_calm;
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .breadcrumbs {
    border-color: @color_layout_border_calm;
  }
}

#vote_form .jq-radio.checked,
.block-voting .jq-radio.checked {
  .box-shadow(0 0 0 1px @color_btn_border_calm);
}

.header #act_date p a,
.header .subscription-block p a {
  color: @color_calm;
}
.xmedia {
  background-color: @color_bg_outstanding_calm;
  color: @color_calm;
}

.mainpage_content .main_gprogs .governor-programm .caption {
  background-color: @color_bg_focus_calm;
}

.secmenu .smenu .submenu_container,
.secmenu .smenu .submenu_container_long {
  a.option.active,
  a.option:hover,
  a.option.focus {
    color: @color_nav_focus_calm;
    background-color: @color_nav_bg_focus_calm;
  }
}

.block-region-info .region-link {
  background-color: @color_bg_calm;
  color: @color_calm;
  border-color: @color_btn_border_calm;
}

.on-top {
  background-image: transparent url("@{path_images}/to-top-2.png") no-repeat 0 -45px;
}

.omsulins_regioninfo_leftcol {
  color: @color_calm;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-keywords,
    .vacancy-keywords {
      background: transparent url("@{path_images}/tags-2a.png") no-repeat 0 -15px;
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-region,
    .news-title,
    .news-keywords,
    .vacancy-region,
    .vacancy-keywords,
    .vacancy-title {
      span,
      a {
        color: @color_calm;
      }
    }
  }
}

.block-region-filter .region-link .news-count {
  color: @color_dim_calm;
}

.block-list-date-filter .block-date-dialog-opener {
  background: transparent url("/blocks/list_date_filter/images/period-2a.png") no-repeat 0 -15px;
}

.main_wrapper,
.omsu_news_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .jq-selectbox__select-text {
    color: @color_dim_calm;
    border-color: @color_dashline_calm;
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons .rss-link {
    background-image: url("@{path_images}/rss-3b.png");
    background-position: center -61px;
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons > a:last-of-type {
    border-color: @color_layout_border_calm;
  }
}

.datepicker table.datepickerViewDays .datepickerDays td a:hover {
  background-color: @color_bg_focus_calm;
}

div.datepicker th {
  color: @color_dim_calm;
}

.mainmenu .icons {
  a {
    background-image: url("@{path_images}/topmenu1_icons-2a.png");
    &.bugtrack {
      background-position: -3px -85px;
      &:hover,
      &:active,
      &.active {
        background-position: -3px -45px;
      }
    }
    &.search {
      background-position: -50px -85px;
      &:hover,
      &:active,
      &.active {
        background-position: -50px -45px;
      }
    }
    &.glasses-mode {
      background-position: -95px -85px;
      &:hover,
      &:active,
      &.active {
        background-position: -95px -45px;
      }
    }
    &:hover,
    &:active,
    &.active {
      background-color: @color_bg_focus_calm;
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-region,
    .news-title,
    .news-keywords,
    .vacancy-keywords,
    .vacancy-region,
    .vacancy-title {
      a:focus {
        background-color: @color_bg_outstanding_calm;
      }
    }
  }
}

.mainmenu .language a {
  color: @color_calm;
  &:hover,
  &:active {
    color: @color_focus_calm;
    background-color: @color_bg_focus_calm;
  }
}

.mainmenu .icons a {
  background-image: url("@{path_images}/topmenu1_icons-2a.png");
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons {
    .print-link {
      background-image: url("@{path_images}/print-2a.png");
      background-position: 10px -77px;
      &:hover,
      &:active,
      &:focus {
        background-position: 10px -51px;
      }
    }
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons > a {
    border-color: @color_layout_border_calm;
  }
}

.material_page_wrapper .material-system-data .data-item {
  color: @color_calm;
}

.connected-materials {
  .material,
  .material-type-41,
  .material-type-162 {
    border-color: @color_layout_border_calm;
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons {
    .share-link {
      background-image: url("@{path_images}/share-2a.png");
      background-position: center -79px;
      &:hover,
      &:active,
      &:focus {
        background-position: center -55px;
      }
    }
  }
}

.connected-materials {
  .material,
  .material-type-41,
  .material-type-162 {
    background-image:none;
    &::before {
      content: " ";
      display: block;
      float: left;
      margin-left: -30px;
      background-image: url("@{path_images}/material-types/icc3-2.png");
      background-position: 0px -20px;
      width: 20px;
      height: 20px;
    }
  }
}

.connected-materials .material-type-keywords {
  background-image: none;
  &::before {
    background-image: url("@{path_images}/material-types/icc4-2a.png");
  }
}

.header .subscription-block .text {
  color: @color_calm;
}

.message.info,
.message.status {
  color: @color_calm;
  background-color: @color_bg_outstanding_calm;
}

.main_wrapper
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .doubleleft {
    .filter-values {
      .reset-all-filters {
        background-image: url("@{path_images}/big_cross-2.png");
        background-position: 0 -18px;
      }
    }
  }
}

.subscription-block a:hover {
  text-decoration: none;
}

.block-sub-type-filter .sub-type-link .news-count {
  color: @color_calm;
}

.file_list_item_small .xdate {
  color: @color_calm;
}

.file_list_item_small::before {
  background-image: url("/templates/khabkrai/img/download-calm.png");
}

.content_selector_1 {
  color: @color_calm;
}

hr {
  background-color: @color_layout_border_calm;
}

.page.active {
  background-color: @color_bg_calm;
  color: @color_calm;
}

.globalsearch_btn {
  background-image: url("/templates/khabkrai/img/search-2b.png");
}

.jq-selectbox__dropdown {
  background-color: @color_bg_calm;
  color: @color_calm;
  border-color: @color_layout_border_calm;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .jq-selectbox__dropdown {
    ul {
      li.sel,
      li.sel:hover {
        color: @color_calm;
      }
    }
  }
}

.jq-selectbox li:hover {
  background-color: @color_bg_focus_calm;
  color: @color_focus_calm;
}

.congratulations-list-element-date {
  color: @color_calm;
}

td {
  background-color: @color_bg_calm;
}

.block-left-sidebar .sidebar {
  background-color: @color_bg_focus_calm;
  color: @color_focus_calm;
}

.block-left-sidebar {
  .sidebar {
    .gover_option:hover,
    .gover_option.focus,
    .gover_option.active {
      background-color: @color_bg_calm;
      color: @color_calm;
    }
  }
}

.xauthorities .m6_75_76_text {
  color: @color_calm;
}

.announces_wrapper {
  .news-row {
    .time,
    .status {
      color: @color_calm;
    }
    .status {
      border-color: @color_layout_border_calm;
    }
  }
}

.material_page_wrapper .material-system-data .material-time {
  .status,
  .time {
    color: @color_calm;
  }
  .status {
    border-color: @color_layout_border_calm;
  }
}

#vote_form .jq-radio,
.block-voting .jq-radio {
  &.checked {
    background-image: url("@{path_images}/radio-checked-calm-2.png");
    .box-shadow(inset 0 0 0 1px @color_layout_border_calm);
  }
}

&.assist-showhint .toggle-hint a {
  background-color: @color_bg_calm;
  color: @color_calm;
}
&.nohidemedia .toggle-media .toggle-on,
&.hidemedia .toggle-media .toggle-off,
&.nohidesidebar .toggle-sidebar .toggle-on,
&.hidesidebar .toggle-sidebar .toggle-off {
  color: @color_focus_calm;
  background-color: @color_bg_focus_calm;
}

.media-textview {
  color: @color_calm;
}

.widget-news-link-blue a,
.widget-news-link a {
  background-color: @color_bg_outstanding_calm;
}

.main_news_header .option.active {
  color: @color_focus_calm;
  background-color: @color_bg_focus_calm;
}

.material_list_date {
  color: @color_calm;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-type {
      border-color: @color_layout_border_calm;
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-valid {
      color: @color_calm;
    }
  }
}
.block-vacancy-type-filter .vacancy-type-link .news-count,
.block-status-filter .status-link .news-count,
.block-oiv-filter .oiv-link .news-count {
  color: @color_calm;
}
#search {
  color: @color_focus_calm;
  background-color: @color_bg_focus_calm;
}
#search-form .field {
  border-color: @color_btn_border_calm;
}
#search-form .search-example a,
#search-form .radios p label,
#search-form .radios p label.active {
  color: @color_focus_calm;
}
#search-form .field .dropdown .jq-selectbox__select-text,
.content-block.search-results .filter .title {
  color: @color_calm;
}
#search-form .field .searchtext-field::placeholder {
  color: @color_btn_focus_calm;
}
#search-form .field .search-submit {
  color: @color_btn_focus_calm;
  background-color: @color_btn_bg_focus_calm;
}

#search .search-closer {
  background-image: url("@{path_images}/cross-2.png");
}
.search-results .xradio span,
.content-block.search-results .sort.tabs,
.content-block.search-results .sort.tabs a.active,
.search-results .xradio input:checked + span,
.content-block.search-results .sort.tabs a.active span {
  border-color: @color_layout_border_calm;
}
.search-results .xradio span,
.content-block.search-results .sort.tabs a.active,
.content-block.search-results .categories.list .category.active {
  color: @color_calm;
}
.modal,
.popup {
  background-color: @color_bg_calm;
}
#date_dialog.modal .helper {
  color: @color_calm;
}
#date_dialog.modal .apply-filter {
  color: @color_btn_focus_calm;
  background-color: @color_btn_bg_focus_calm;
}
.datepicker table.datepickerViewDays thead tr.datepickerDoW {
  border-color: @color_layout_border_calm;
}
#date_dialog.modal .apply-filter {
  border-color: @color_btn_border_calm;
}
.content.f_materials_60 {
  background-color: @color_bg_calm;
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs {
    border-color: @color_layout_border_calm;
  }
}
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs a {
    color: @color_calm;
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs a:hover,
  .menu.tabs a:active {
    background-color: @color_bg_outstanding_calm;
  }
  .menu.tabs a.active {
    border-color: #FFF;
    background-color: #FFF;
  }
}
