background-color: @color_bg_inverted;
color: @color_inverted;
background-image: none;

a,
a:hover {
  color: @color_inverted;
}

.filtered-materials-list,
.mainmenu,
.mainmenu .option,
.crumbs-wrap,
.contentblock,
.main_regions,
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list,
.block-left-sidebar .sidebar .sidebar-info,
.material_list,
.main_wrapper .news-row .vacancy-type,
.main_wrapper .vacancy-row .vacancy-type,
.omsu_news_wrapper .news-row .vacancy-type,
.omsu_news_wrapper .vacancy-row .vacancy-type,
.material_page_wrapper .news-row .vacancy-type,
.material_page_wrapper .vacancy-row .vacancy-type,
.omsu_main_wrapper .news-row .vacancy-type,
.omsu_main_wrapper .vacancy-row .vacancy-type,
.omsu_villages_wrapper .news-row .vacancy-type,
.omsu_villages_wrapper .vacancy-row .vacancy-type,
.filtered-materials-list .news-row .vacancy-type,
.filtered-materials-list .vacancy-row .vacancy-type {
  color: @color_inverted;
  background-color: @color_bg_inverted;
}
.main_wrapper .news-row .vacancy-type .flag,
.main_wrapper .vacancy-row .vacancy-type .flag,
.omsu_news_wrapper .news-row .vacancy-type .flag,
.omsu_news_wrapper .vacancy-row .vacancy-type .flag,
.material_page_wrapper .news-row .vacancy-type .flag,
.material_page_wrapper .vacancy-row .vacancy-type .flag,
.omsu_main_wrapper .news-row .vacancy-type .flag,
.omsu_main_wrapper .vacancy-row .vacancy-type .flag,
.omsu_villages_wrapper .news-row .vacancy-type .flag,
.omsu_villages_wrapper .vacancy-row .vacancy-type .flag,
.filtered-materials-list .news-row .vacancy-type .flag,
.filtered-materials-list .vacancy-row .vacancy-type .flag {
  background-image: none;
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .news-region,
    .news-title,
    .news-keywords,
    .vacancy-region,
    .vacancy-keywords,
    .vacancy-title {
      span,
      a {
        color: #FFF;
      }
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-salary {
      color: #FFF;
    }
  }
}

.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    .vacancy-type {
      margin-top: -1px;
      padding-left:8px;
    }
  }
}

.main_regions {
  background-image: none;
  .option {
    color: @color_inverted;
  }
}
.mainmenu .option:active,
.mainmenu .option:hover,
.mainmenu .option.active {
  background-color: @color_nav_bg_focus_inverted;
  color: @color_nav_focus_inverted;
}
.crumbs-wrap a {
  color: @color_inverted;
}
.secmenu {
  border-bottom-color: @color_layout_border_inverted;
}
.print-link:hover,
.print-link:active {
  background-position: center -52px;
}
.share-link:hover,
.share-link:active,
.share-link.active {
  background-position: center -55px;
}
.breadcrumbs a:active,
.breadcrumbs a:focus,
.breadcrumbs a:hover,
.breadcrumbs a.focus {
  background-color: @color_nav_link_bg_focus_inverted;
}
.rss-link:hover,
.rss-link:active {
  background-position: center -41px;
}
.toggle-hint {
  background-color: transparent;
  box-shadow: 0 0 0 1px #FFF;
}
&.assist-showhint {
  .toggle-hint {
    background-color: #FFF;
    color: #000;
  }
  .assist-hint {
    border-color: @color_layout_border_inverted;
    background-color: rgba(0,0,0,0.95);
    .inner {
      background-color: #000;
    }
  }
}
.assist-toggle a.active {
  color: @color_focus_inverted;
  background-color: @color_bg_focus_inverted;
}
.content.main {
  border-color: @color_layout_border_inverted;
}
&.fontsize-normal .size-select a.normal,
&.fontsize-small .size-select a.small,
&.fontsize-big .size-select a.big {
  color: #000;
  background-color: #FFF;
}
.rkicons .link-devel {
  color: @color_inverted;
}
.main_wrapper,
.omsu_documents_wrapper {
  .document-row {
    .download:hover,
    .download:active {
      .icon {
        background-position: 0px -108px;
      }
    }
  }
}
.doubleright,
.doubleleft {
  background-color: @color_bg_inverted;
  color: @color_inverted;
}
.new_style_link {
  background-color: #FFF;
  color: #000;
}
.omsulist_news_anons {
  color: #FFF;
}
.SmallRegionInfo {
  background-color: #000;
  border: 1px solid #FFF;
  color: #FFF;
}
.connected-materials .material a,
.also-read .material:hover .text,
.also-read .material .time,
#governor-header-right-date {
  color: @color_dim_inverted;
}
a.page {
  background-color: #FFF;
  color: #000;
  &:hover {
    background-color: #000;
    color: #FFF;
  }
}
.datepicker table.datepickerViewDays .datepickerDays td a {
  color: @color_inverted;
  &:hover span {
    color: @color_focus_inverted;
    background-color: @color_bg_focus_inverted;
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .doubleleft {
    .filter-values {
      .filter-value {
        background-color: @color_bg_focus_inverted;
        color: @color_focus_inverted;
        border-color: @color_btn_border_inverted;
      }
    }
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .doubleleft {
    .filter-values {
      .filter-value {
        .remove-filter-value,
        .filter-remove-link {
          background-image: none;
          &::before {
            content:"×";
            color: @color_focus_inverted;
          }
        }
      }
    }
  }
}
.block-oiv-filter,
.block-vacancy-type-filter,
.block-status-filter {
  h3 {
    color: @color_inverted;
  }
}

.block-left-sidebar .sidebar .sidebar-info {
  border-top-color: @color_layout_border_inverted;
}
.block-left-sidebar .sidebar {
  border-bottom-color: @color_layout_border_inverted;
}

.material_list:hover .material_list_name {
  color: @color_inverted;
}

.ministry {
  .ministry-contacts .row b {
    color: @color_inverted;
  }
}

.ministry:hover {
  color: @color_focus_inverted;
  background-color: @color_bg_focus_inverted;
  a,
  .ministry_link,
  .ministry-contacts .row b {
    color: @color_focus_inverted;
  }
}

.main_wrapper,
.omsu_documents_wrapper {
  .document-row .download .document-name {
    color: @color_inverted;
  }
}

.ui-widget-content {
  color: @color_inverted;
  background-color: @color_bg_inverted;
}
.mainpage_content #tabs {
  a {
    color: @color_inverted;
  }
  .tab-link:hover,
  .tab-link.ui-tabs-active,
  .tab-link.ui-tabs-active:hover {
    background-color: @color_bg_inverted;
    border-color: @color_tab_border_inverted;
    a {
      color: @color_inverted;
    }
  }
}

.content {
  #ajax_paginator_btn.link-btn,
  .link-btn {
    color: @color_inverted;
    border-color: @color_btn_border_inverted;
    background-color: @color_bg_inverted;

    &:hover {
      color: @color_inverted;
      text-decoration: underline;
      border-color: @color_btn_border_inverted;
    }
  }
}

.block-banners-slider .banner-dots {
  a {
    background-color:#000;
    .box-shadow(0 0 0 1px #FFF);
    &:hover,
    &:active,
    &.active {
      background-color: #FFF;
    }
  }
}

#vote_form .submit-blue-button {
  border: 1px solid @color_inverted;
  color: @color_btn_border_inverted;
  background-color: @color_bg_inverted;
}

.contacts_header {
  color: @color_inverted;
  background-color: @color_bg_inverted;
}

.commissions-element:hover {
  background-color: @color_bg_focus_inverted;
  color: @color_focus_inverted;
  a,
  a:hover {
    color: @color_focus_inverted;
  }
}

div.content div.governor-body {
  background-color: @color_bg_inverted;
  .doubleleft .column-header {
    border-bottom: 1px solid @color_layout_border_inverted;
    background-color: @color_bg_inverted;
  }
  #governor-post,
  #governor-date {
    color: @color_inverted;
  }
}
.governor-header {
  border-bottom-color: @color_layout_border_inverted;
}
.governor_biography_header,
.governor_biography td,
.governor_biography th {
  background-color: @color_bg_inverted;
}

.governor_biography_header {
  border-top-color: @color_bg_inverted;
}

.photo_block {
  color: @color_inverted;
  background-color: @color_bg_inverted;
}

.governor_biography_fio {
  color: @color_inverted;
}

.vidget_photo_content {
  .link-btn {
    clear: both;
    a {
      background-color: transparent;
      color: @color_inverted;
      padding: 0;
      font-size: 16px;
    }
  }
  .vidget_name {
    color: #FFF;
  }
}

&.assist-showhint .toggle-hint a {
  background-color: @color_bg_inverted;
  color: @color_inverted;
}

&.nohidemedia .toggle-media .toggle-on,
&.hidemedia .toggle-media .toggle-off,
&.nohidesidebar .toggle-sidebar .toggle-on,
&.hidesidebar .toggle-sidebar .toggle-off {
  background-color: @color_bg_focus_inverted;
  color: @color_focus_inverted;
}

.widget-news-link-blue,
.widget-news-link {
  a:hover {
    color: @color_btn_focus_inverted;
  }
}

.logo_text,
#act_date,
#act_date .todays-news,
.header #act_date p a,
.header .subscription-block p a,
#governor-header-right-name a,
.block-doclist h3 {
  color: @color_inverted;
}

.activity-buttons a:hover {
  background-color: transparent;
}

#error_popup,
#callbackform,
#accreditation_form,
#od_request,
.popup-form {
  background-color: @color_bg_inverted;
  border: 1px solid @color_layout_border_inverted;
}


#error_popup .submit,
#callbackform .submit,
#accreditation_form .submit,
#od_request .submit,
.popup-form .submit,
.subscribe-form button[type="submit"] {
  background-color: @color_btn_bg_inverted;
  color: @color_btn_inverted;
  border: 1px solid @color_btn_border_inverted;
  cursor: pointer;
}

.block-doclist .doc {
  a:hover,
  a:active {
    color: @color_inverted;
  }
}

#search-form .field .search-submit {
  background-color: #888;
  border-color: #000;
}
#search {
  color: @color_focus_inverted;
  background-color: @color_bg_focus_inverted;
}
#search .search-closer {
  background-image: url("@{path_images}/cross.png");
}

#search-form .search-example a,
#search-form .radios p label,
#search-form .radios p label.active {
  color: @color_inverted;
}

#search-form .field .dropdown .jq-selectbox__select-text {
  color: @color_dim_inverted;
}
.pseudo-radio {
  background-image: url("@{path_images}/custom-radios-2a.png");
  background-position: 0 -80px;
  &.checked {
    background-position: 0 -64px;
  }
}

#search-form .field {
  border-color: @color_btn_border_focus_inverted;
}
#search-form .search-example a,
#search-form .radios p label,
#search-form .radios p label.active {
  color: @color_focus_inverted;
}
.search-results .xradio span,
.content-block.search-results .sort.tabs,
.content-block.search-results .sort.tabs a.active,
.search-results .xradio input:checked + span,
.content-block.search-results .sort.tabs a.active span,
.datepicker table.datepickerViewDays td,
.datepicker table.datepickerViewDays th {
  border-color: @color_layout_border_inverted;
}
.search-results .xradio span,
.content-block.search-results .sort.tabs a.active,
.content-block.search-results .categories.list .category.active {
  color: @color_inverted;
}
.modal,
.popup {
  background-color: @color_bg_inverted;
}
#date_dialog.modal .helper {
  color: @color_inverted;
}
#date_dialog.modal .apply-filter {
  color: @color_btn_inverted;
  background-color: @color_btn_bg_focus_inverted;
  border-color: @color_btn_border_inverted;
}
.datepicker table.datepickerViewDays thead tr.datepickerDoW {
  border-color: @color_layout_border_inverted;
}

.datepickerContainer .datepickerGoPrev a,
.datepickerContainer .datepickerGoNext a {
  color: @color_inverted;
  background-color: @color_bg_inverted;
  border: 1px solid @color_layout_border_inverted;
}

.content.f_materials_60 {
  background-color: @color_bg_inverted;
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .activity-buttons .share-link {
    background-image: url("@{path_images}/share-2a.png");
    &:hover {
      background-position: 0 -40px;
    }
  }
}

.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs {
    border-color: @color_layout_border_inverted;
  }
}
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs a {
    color: @color_inverted;
  }
}
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_villages_wrapper,
.omsu_vacancies_wrapper,
.filtered-materials-list {
  .menu.tabs a:hover,
  .menu.tabs a:active {
    background-color: @color_bg_outstanding_inverted;
  }
  .menu.tabs a.active {
    color: @color_focus_inverted;
    background-color: @color_bg_focus_inverted;
  }
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .date-splitter a:hover,
  .date-splitter a:active {
    color: @color_inverted;
  }
}