@path_images: "/images/restyled/";
@path_fonts: "/fonts/";

/* Fonts */

@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url('@{path_fonts}helveticaneuecyr-thin-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg'),
  url('@{path_fonts}helveticaneuecyr-thin-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-thin-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('@{path_fonts}helveticaneuecyr-roman-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg'),
  url('@{path_fonts}helveticaneuecyr-roman-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url('@{path_fonts}helveticaneuecyr-medium-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg'),
  url('@{path_fonts}helveticaneuecyr-medium-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-medium-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('@{path_fonts}helveticaneuecyr-light-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg'),
  url('@{path_fonts}helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-light-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url('@{path_fonts}helveticaneuecyr-bold-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg'),
  url('@{path_fonts}helveticaneuecyr-bold-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-bold-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrblack';
  src: url('@{path_fonts}helveticaneuecyr-black-webfont.eot');
  src: url('@{path_fonts}helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{path_fonts}helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack') format('svg'),
  url('@{path_fonts}helveticaneuecyr-black-webfont.woff2') format('woff2'),
  url('@{path_fonts}helveticaneuecyr-black-webfont.woff') format('woff'),
  url('@{path_fonts}helveticaneuecyr-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Variables */
@color: #000;
@color_dim: #666;
@color_alert: #df5c4a;
@color_dark_alert: #c6421b;
@color_blue_link: #0093dd;
@color_hint_silver: #858788;
@color_field_silver: #d6d6d6;
@color_menu_darkblue: #001f37;
@color_date: #adadab;
@color_highlight: #ffe986;
@color_americop_blue: #4991c7;
@color_dark: #333;
@color_bg_main: #fff;
@color_border_light: #ddd;
@color_bg_hover: #f0f0f0;
@color_black: #000;
@color_ministry_border: #eee;

@import("defines_special.less");

@font_main: 'helveticaneuecyrroman', Helvetica, Arial;
@font_thin: 'helveticaneuecyrthin', Arial;
@font_light: 'helveticaneuecyrlight', Arial;
@font_medium: 'helveticaneuecyrmedium', Arial;
@font_roman: 'helveticaneuecyrroman', Arial;
@font_bold: 'helveticaneuecyrbold', Arial;
@font_black: 'helveticaneuecyrblack', Arial;

.border-radius(@value) {
  -webkit-border-radius: @value;
  -khtml-border-radius: @value;
  -moz-border-radius: @value;
  -ms-border-radius: @value;
  -o-border-radius: @value;
  border-radius: @value;
}

.box-shadow(@value) {
  -webkit-box-shadow: @value;
  -khtml-box-shadow: @value;
  -moz-box-shadow: @value;
  -ms-box-shadow: @value;
  -o-box-shadow: @value;
  box-shadow: @value;
}

.box-shadow-none {
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.transition(@settings) {
  -webkit-transition: @settings;
  -khtml-transition: @settings;
  -moz-transition: @settings;
  -ms-transition: @settings;
  -o-transition: @settings;
  transition: @settings;
}

.transform(@settings) {
  -webkit-transform: @settings;
  -khtml-transform: @settings;
  -moz-transform: @settings;
  -ms-transform: @settings;
  -o-transform: @settings;
  transform: @settings;
}

.fxblur(@radius) {
  -webkit-filter: blur(@radius);
  -moz-filter: blur(@radius);
  -ms-filter: blur(@radius);
  -o-filter: blur(@radius);
  filter: blur(@radius);
}

.box-sizing(@type) {
  box-sizing: @type;
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
}
.background-size(@type) {
  -webkit-background-size: @type;
  -moz-background-size: @type;
  -o-background-size: @type;
  background-size: @type;
}