@font_size: @font_size_big;
@font_size_small: @font_size_big_small;
@font_size_medium: (@font_size + @font_size_small) / 2;

font-size: @font_size;
.secmenu .option,
.mainmenu .option,
.block-left-sidebar {
  font-size: @font_size * 7/8;
}
.material_list_name {
  font-size: @font_size !important;
}
a.option {
  font-size: @font_size_small;
}
.menu > .option {
  font-size: @font_size_small !important;
}
.audio-list time {
  font-size: @font_size_medium;
}
&.button.submit,
&.new_style_link,
#ajax_paginator_btn.link-btn,
.link-btn {
  font-size: @font_size_small;
}
#ajax_paginator_btn.link-btn,
.link-btn {
  height: 2.5em;
  line-height: 1.5;
  padding: (@font_size_small / 2 - 1px) 1em;

}
h1 {
  font-size: @font_size + 3px;
}
.filelist {
  font-size: @font_size_small;
}
h2 {
  font-size: @font_size + 2px;
}
h3 {
  font-size: @font_size + 1px;
}
.breadcrumbs {
  font-size: @font_size_small;
}
.announces_wrapper {
  .news-row {
    .news-title,
    .news-announce {
      font-size: @font_size_medium;
    }
  }
}
.main_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-count,
  .date-splitter {
    font-size: @font_size_medium - 2px;
  }
}

.material_page_wrapper .material-system-data .data-item,
.announces_wrapper .news-row .status {
  font-size: @font_size_medium - 2px;
}

.main_wrapper,
.omsu_documents_wrapper {
  .document-row .download .document-name {
    font-size: @font_size_medium + 1px;
  }
}
.announces_wrapper .news-row .time {
  font-size: @font_size_medium + 1px;
}
.main_wrapper,
.omsu_news_wrapper,
.material_page_wrapper,
.omsu_main_wrapper,
.omsu_villages_wrapper,
.filtered-materials-list {
  .news-row,
  .vacancy-row {
    line-height: 1.3;
    .news-title {
      font-size: @font_size;
    }
    .news-announce {
      font-size: @font_size;
    }
    .news-keywords,
    .region-link{
      font-size: @font_size_small;
    }
    .news-keywords {
      line-height: 1.8;
    }
    .news-textfield {
      margin-bottom: 0.75em;
    }
    .region-link {
      float: right;
      margin-top: -1em;
      font-size: @font_size_small;
    }
  }
}
.omsulist_news_name {
  line-height: 1;
  margin-bottom: 0.5em;
  a {
    font-size: @font_size_small + 2px;
  }
}
.omsulist_news_anons {
  line-height: 1.5;
  font-size: @font_size_small;
}
.ministry {
  height: 12em;
  .ministry-contacts {
    font-size: @font_size * 6/7;
    line-height: 1.5;
  }
}
.ministry_header {
}

.congratulations-list-element-name a {
  font-size: @font_size;
}

#governor-header-right {
  padding-bottom: 20px;
}

.mainpage_content .main_gprogs .governor-programm .caption {
  font-size: @font_size * 7 / 9;
}
.secmenu_wrapper {
    padding-left: 0.55em;
}
