.content_selector_1 .jq-selectbox__select {
    height: 30px;
    padding: 0 45px 0 10px;
    border: 0px !important;
    border-bottom-color: #ffffff !important;
    border-radius: 4px;
    background: none !important;
    box-shadow: none !important;
    color: #333;
    text-shadow: 1px 1px #FFF;
    font: 14px/30px Arial, sans-serif;
}


.content_selector_1 input[type="email"].styler,
.content_selector_1 input[type="number"].styler,
.content_selector_1 input[type="password"].styler,
.content_selector_1 input[type="search"].styler,
.content_selector_1 input[type="tel"].styler,
.content_selector_1 input[type="text"].styler,
.content_selector_1 input[type="url"].styler,
.content_selector_1 textarea.styler {
    padding: 7px 9px;
    border: 0px solid #CCC !important;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: none !important;
    color: #333;
    font: 14px Arial, sans-serif;
}
.content_selector_1 button.styler{
    float: right;
    margin: 3px 3px;
}

.width-100p {
    width: 100%;
    max-width: 930px;
}