@media screen and (min-width: 725px) {

    body,
    .kraiflag {
        min-width: 1000px;
    }

}

@media screen and (max-width: 724px) {

    .popup {
        width: 100% !important;
        max-width: 500px !important;
        padding: 10px 0px !important;
    }


    .nullblock {
        width: auto;
        height: auto;
    }

    .normalblock {
        max-width: 100%!important;
        box-sizing: border-box;
    }

    .mainmenu
    {
        min-height: 33px;
        height: auto;
    }

    .mainmenu .menu {
        width: auto;
        height: auto;
    }

    .mainmenu .menu .option {
        width: 100%;
        box-sizing: border-box;
    }

    .mainmenu .menu .date {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }

    .kraiflag {
        background-image: none;
    }

    .content {
        width: 100%;
    }

    .doubleright {
        width: 100%;
        margin: 0px;
        margin-left: 0;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .doubleleft {
        width: 100%;
    }

    .contentblock {
        width: 100%!important;
        box-sizing: border-box;
        position: relative!important;
        margin-right: 0px!important;
        min-height: 0px!important;
    }

    .contentblock img {
        max-width: 100%!important;
    }

    .main_quote {
        display: none;
    }

    .main_gprogs {
        width: 100%;
    }

    h2, h1, .breadcrumbs {
        padding-left: 10px;
    }

    .doubleblock {
        width: 100%;
    }

    .header {
        width: auto;
    }

    .header>.nullblock {
        width: 100%;
        height: auto;
    }

    .logo {
       display: none;
    }

    .logo_text {
        position: relative;
        font-size: 18px;
        line-height: 30px;
        top: 0px;
        left: 0px;
        width: 100%;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .header_search_block {
        position: relative;
        left: 0px;
        width: 100%;
    }

    .lang.en {
        top: 0px;
        right: 0px;
        margin-left: 10px;
        position:relative;
        vertical-align:top;
        display:-moz-inline-stack;
        display:inline-block;
        _overflow:hidden;
        zoom:1;
        *display:inline;
    }

    .header>.nullblock>.nullblock {
        width: 100%;
        height: auto;
    }

    .lang.ru {
        top: 0px;
        right: 0px;
        margin-left: 5px;
        position:relative;
        vertical-align:top;
        display:-moz-inline-stack;
        display:inline-block;
        _overflow:hidden;
        zoom:1;
        *display:inline;
    }

    .globalsearch {
        top: 0px;
        right: 0px;
        margin-left: 5px;
        position:relative;
        vertical-align:top;
        display:-moz-inline-stack;
        display:inline-block;
        _overflow:hidden;
        zoom:1;
        *display:inline;
    }

    .viewversion {
        top: 0px;
        right: 0px;
        margin-left: 5px;
        position:relative;
        vertical-align:top;
        display:-moz-inline-stack;
        display:inline-block;
        _overflow:hidden;
        zoom:1;
        *display:inline;
    }

    .secmenu {
        position: relative;
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        margin-top: 10px;
        background-size: cover;
    }

    .secmenu .option {
        width: 100%;
        box-sizing: border-box;
        min-height: 0px;
        height: auto;
        line-height: normal;
        padding: 7px 10px 7px 10px;
    }

    .submenu_container {
        position: relative;
        width: 100%;
        display: block;
        left: 0px;
        top: 0px;
        background-color: #155e8c;
        font-size: 12px;

        min-width: 40px;
    }

    .submenu_container_long {
        position: relative;
        width: 100%;
        display: block;
        left: 0px;
        top: 0px;
        background-color: #155e8c;

        min-width: 40px;
    }

    .nullblock.smenu {
        height: auto;
        width: 100%;
        display: block;
        position: relative;
    }

    .left_sto {
        left: 0px;
    }

    .left_dvesti {
        left: 0px;
    }

    .submenu_container_long .option {
        min-height: 0px;
        height: auto;
        line-height: normal;
        padding: 7px 10px 7px 20px;
        position: relative;
        display: block;
    }

    .submenu_container .option {
        min-height: 0px;
        height: auto;
        line-height: normal;
        padding: 7px 10px 7px 20px;
        position: relative;
        display: block;
    }

    .secmenu .option.active {
        background-color: #6AAED3;

    }

    .secmenu .option:hover {
        background-color: #6AAED3;
    }

    .footer {
        height: auto;
    }

    .footertop {
        display: none;
    }

    .footermiddle {
        display: none;
    }

    .m1_topban {
        display: none;
    }

    .m1_bigban {
        display: none;
    }

    .m1_smallban {
        margin-top: 10px;
    }

    .m1_gprog, .m1_gprogkar, .main_groups_pages, .m1_geo {
        display: none;
    }

    .footerbottom {
        width: 100%;
    }

    .rss {
        position: relative;
        top: 0px;
        left: 0px;
        margin: 5px;
    }

    .material_list {
        width: 100%!important;
        height: auto!important;
        padding-right: 0px!important;
        box-sizing: border-box!important;
    }

    .material_list_line {
        width: 100%!important;
        margin-left: 0px!important;
    }

    .file_list_item_small {
        width: auto!important;
        max-width: 100%;
    }

    .material_list_image {
        float: left;
        margin: 10px;
    }

    .material_list_content {
        width: auto!important;
        max-width: 100%;
        max-width: 370px;
    }

    .material_list_name {
        font-size: 14px;
    }

    .print {
        display: none;
    }

    .anons_header {
        position: relative;
    }

    .anons_body {
        position: relative;
        width: auto;
        max-width: 100%;
        float: right;
        top: 0px;
        left: 0px;
        margin-top: 40px;
    }

    .cboxLoadedContent div {
        max-width: 100%!important;
    }

    .photo_prev, .photo_next {
        display: none;
    }

    .photo_smallphotos {
        width: 100%;
        height: auto;
        min-height: 94px;
    }

    .photo_big_author {
        width: auto;
        max-width: 95%;
    }

    iframe {
        max-width: 100%!important;
    }

    .audiojs {
        width: auto;
    }

    img {
        max-width: 100%!important;
    }

    .contacts_header {
        height: auto;
    }

    .content_selector_1 {
        width: auto!important;
        max-width: 100%;
        height: auto;
    }

    .jq-selectbox, jq-selectbox__select-text {
        max-width: 100%;
    }

    .jq-selectbox__select-text {
        width: 100%!important;
    }

    .main_material_list{
        width: auto;
        max-width: 95%;
    }

    .acredblock {
        position: relative;
        top:0px;
        left:0px;
        max-width: 100%;
    }

    textarea {
        max-width: 100%!important;
        width: auto!important;
    }

    #upload ul {
        max-width: 100%;
    }

    #upload {
        max-width: 100%;
        padding: 3px!important;
    }

    #drop {
        padding: 0px!important;
    }

    #upload ul {
        margin:0px!important;
    }

    .m5_carus, .main_map, .main_regions, .main_regions_someline {
        display: none;
    }

    td.block {
        display: block;
        width: 100%;
    }

    .bigcalend {
        width: 100%;
    }

    .bigcalend td {
        width: auto;
    }

    .bigcalend th {
        font-size: 8px;
    }

    .bigcalend_event_null {
        width: auto;
        height: auto;
    }

    .bigcalend_header {
        width: 100%;
        height: auto;
    }

    .bigcalend_header .nullblock div {
        position: relative!important;
        top: 0px!important;
        width: 100%!important;
        font-size: 12px!important;
    }

    .m4_65_div {
        position: relative!important;
        width: 100%!important;
        height: auto!important;
    }

    .m4_65_div .nullblock div {
        position: relative!important;
        top: 0px!important;
        left: 0px!important;
    }

    .m4_65_div .contentblock {
        height: auto!important;
    }

    .m4_70_maps {
        position: relative!important;
        left: 0px!important;
        width: 100%!important;
        height: auto!important;
    }

    .m4_70_block {
        min-height: 0px!important;
    }

    table.noborders td {
        display: block;
        width: 100%;
    }

    #governor-header-left {
        width: auto;
        height: auto;
        float: none;
    }

    #governor-header-right {
        width: auto;
        float: none;
        height: auto;
    }

    #governor-header-right-date {
        font-size: 10px;
    }

    #governor-header-right-name {
        font-size: 14px;
    }

    #governor-header-right-name a {
        font-size: 14px;
    }

    .double-column-left {
        width: 100%;
        display: block;
    }

    .double-column-right {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;

    }

    .governor_biography {
        width: 100%!important;
        padding: 0px!important;
    }

    .governor_biography td {
        display: block!important;
    }

    .file_list_item {
        width: auto;
    }

    .material_list_name {
        width: auto!important;
        position: relative!important;
    }

    .m6_75_76_text {
        width: auto!important;
        position: relative!important;
        display: inline-block;
        top: 0px!important;
        left: 0px!important;
    }

    .ministry {
        width: 100%;
        height: auto;
    }

    .m46_date {
        position: relative!important;
        width: 100%!important;
        height: auto!important;
        left: 0px!important;
        top: 0px!important;
        box-sizing: border-box;
    }

    #map {
        width: 100%!important;
        position: relative!important;
        left: 0px!important;
    }

    #contsearch {
        width: 100%!important;
    }

    .contacts_header .option {
        width: 100%;
        box-sizing: border-box;
    }

    .pages {
        position: relative;
    }
}