body.xprint {
  .header {
    height: 101px;
    min-height: 101px;
  }
  .mainmenu,
  .globalsearch,
  .viewversion,
  #admin_panel,
  .secmenu,
  .footer /*.footertop,
  .footer .footermiddle,
  .footer .footerbottom .socials,
  .footer .footerbottom .metrix
  */,
  .subscription-block,
  .block-doclist,
  .social-links,
  .block-ajax-pagenator,
  .on-top {
    display: none;
  }

  .on-top {
    visibility: hidden;
  }

  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .breadcrumbs a {
      color: #000;
    }
  }
  .connected-materials .material a,
  .header #act_date p a,
  .header .subscription-block p a {
    color: #000;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  .header #act_date,
  .header .subscription-block {
    top: 38px;
  }
  .logo_text {
    font-size: 175%;
    line-height: 1.45;
    width: 550px;
    left: 100px;
  }
  .connected-materials {
    margin-top: 0;
  }
  .content-body,
  .content-text {
    line-height: 1.5;
    padding-bottom: 0;
    p,
    ul,
    ol {
      margin-bottom: 2.25em;
    }

  }
  .doubleblock {
    .doubleleft {
      width: 100%;
      padding: 0;
      border: none;
      float: none;
    }
    .doubleright {
      display: none;
    }
  }
  .main_wrapper,
  .omsu_news_wrapper,
  .material_page_wrapper,
  .omsu_main_wrapper,
  .omsu_villages_wrapper,
  .filtered-materials-list {
    .date-splitter.fixed {
      position: static;
    }
  }
  .block-left-sidebar {
    padding-left: 0;
    .sidebar {
      display: none;
    }
    .content-body {
      width: auto;
      float: none;
      padding: 25px 30px 30px;
    }
  }
  .material_page h1.fixed {
    position: static;
  }
}

@media print {
  .activity-buttons {
    display: none;
    visibility: hidden;
  }
  .connected-materials .material {
    padding-left: 0;
  }
  #pagination {
    display: none;
    visibility: hidden;
  }
}