.header {
  height: 60px;
  min-height: 60px;
  #act_date {
    top: 10px;
  }
}
.logo {
  padding-top: 0;
}
.logo,
.logo_text {
  top: 0;
}
.logo_text {
  font-size: 24px;
  line-height: 1.4;
}

.fixed {
  position: static;
}

.content-text {
  line-height: 1.95;
  p {
    margin-bottom: 2.35em;
  }
}
table {
  width: 100%;
}

.content.main {
  .doubleblock {

    .doubleleft {
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding-left: 0;/* 28px;*/
      padding-right: 0; /*28px; */
      margin-left: 0;
      margin-right: 0;
      border-left: none;
      border-right: none;
      &.mini,
      &.mini + .doubleleft {
        padding: 0;
      }
    }
    .doubleright {
      display: none;
    }
  }
}
.news_wrapper .doubleblock .doubleleft {
  padding-left: 0;
  padding-right: 0;
}
.content.f_materials_1 .doubleleft {
  border-right: none;
}
.mainpage_content .m1_gprog h2 {
  border-bottom: none;
}