* {
	margin: 0;
	padding: 0;
}
html {

}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	background-color: #ffffff;

}

hr {
    padding: 0px;
    margin: 10px 0 0 0;
    border:0px;
    background-color: #bababa;
    height: 1px;
}

p {
	margin: 0px; padding: 0px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	height: auto !important;
    position: relative;
}


h1 {
    font-size: 30px;
    font-weight: normal;
    padding: 15px 0 12px 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 12px 0;
}

table {
    padding:28px;
    margin:0;
    border: 1px solid #545455;
    vertical-align:text-top;
    border-collapse: collapse;
    font-size: 14px;
}

th { padding:8px;
    margin:8px;
    border: 1px solid #545455;
    background-color: #545455;
    color:#ffffff;
    font-weight:normal;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
}

td { padding:8px;
    margin:8px;
    background-color: white;
    border: 1px solid #545455;
    border-collapse: collapse;
    border-spacing: 0px;
}

/* Header
-----------------------------------------------------------------------------*/
/*.header {
	min-height: 178px;
    width: 984px;
    margin: 0 auto;
    position: relative;
}*/

/* Middle
-----------------------------------------------------------------------------*/
.content {
    position: relative;
    margin: 50px auto;
    width: 984px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	margin: 0 auto 0;
	height: 552px;
	position: relative;
	background-color: #fafafa;
    height: 32px;
}




.footertop {
    width: 100%;
    height: 246px;

    background: #606061; /* for non-css3 browsers */

}



.footermiddle {
    height: 315px;
    width: 100%;
    background-color: #484647;
}

.footerbottom {
    width: 984px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

/* Adminpanel
-----------------------------------------------------------------------------*/

#admin_panel
{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    background: #000;
    z-index: 500;
}

.admin_space
{
    display: inline;
    float: left;
}

.admin_menu
{
    display: inline;
    position: relative;
    float: left;
    padding: 0 20px;
    cursor: pointer;
}

.admin_menu a
{
    text-decoration: none;
    color: #fff;
}

.admin_menu a:hover
{
    text-decoration: underline;
}

.admin_menu:hover .admin_submenu_container
{
    display: block;
}

.admin_submenu
{
    padding-bottom: 15px;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
}

.admin_submenu:hover
{
    background-color: rgba(60,60,60,1);
}

.admin_submenu_container .admin_submenu
{
    font-size: 14px;
}

.admin_submenu a
{
    color: #fff;
    text-decoration: none;
}

.admin_submenu a:hover
{
    text-decoration: underline;
}

.admin_submenu_container
{

    padding-bottom: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    width: 150px;


    background-color: rgba(10,10,10,0.9);
}

.admin_submenumore {
    background-color: rgba(10,10,10,0.9);
    position: absolute;
    left: 140px;
    top: -27px;
    width: 150px;
    display: none;
}

.admin_submenumore:hover{
    display: block;
}

.admin_submenu:hover .admin_submenumore{
    display: block;
}

.mainmenu {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 43px;
    background-color: #ebf1f4;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #787576;
}

.mainmenu .menu
{
    width: 984px;
    height: auto;
    min-height: 43px;
    position: relative;
    margin: 0 auto;
}

.mainmenu .menu .option
{
    height: 43px;
    line-height: 43px;
    padding: 0 15px 0 15px;
    font-size: 14px;
    color: #464747;
    cursor: pointer;

    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}


.mainmenu .menu .option:hover
{
    color: #ffffff;
    background-color: #484647;
}

.mainmenu .menu .option.active
{
    color: #ffffff;
    background-color: #484647;
}

.mainmenu .menu .date
{
    width: 150px;
    height: 33px;
    line-height: 17px;
    padding: 0 8px 0 8px;
    font-size: 13px;
    color: #545455;
    margin-top: 5px;

    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.main_gprogs {
    height: 245px;
    width: 984px;
    overflow: hidden;
}

.main_gprogs_scroll {
    height: 245px;
    position: absolute;
}

.main_groups_pages {
    position: absolute;
    width: 490px;
    text-align: right;
    top: -32px;
    left: 492px;
}

.main_groups_page {
    width: 16px;
    height: 16px;
    background-image: url("/templates/khabkrai/img/main_page.png");
    background-repeat: round;
    margin-left: 4px;
    cursor: pointer;
}

.main_groups_page.active {
    background-image: url("/templates/khabkrai/img/main_page_active.png");
}

.main_groups_page:hover {
    background-image: url("/templates/khabkrai/img/main_page_active.png");
}

.kraiflag {

    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;


}

.logo {
    top:13px;
    left:9px;
    position: absolute;
    width: 99px;
    height: 110px;
}

.nullblock {
    width: 0px;
    height: 0px;
    position: relative;
}

.logo_text{
    font-size: 20px;
    color: #363639;
    width: 385px;
    top: 38px;
    left: 110px;
    position: absolute;
    text-shadow: 0 0 2px white, 1px 1px 4px white;
}

.lang {
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f8f8;
    border: solid 1px #e2e3e4;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}

.lang:hover {
    color: #ffffff;
    background-color: #6b6b6b;
    border-color: #6b6b6b;
}

.lang.active {
    color: #ffffff;
    background-color: #6b6b6b;
    border-color: #6b6b6b;
    cursor: default;
}

.main_important_header {
    background-color: #545455!important;
}

.lang.en {
    position: absolute;
    top: 30px;
    right: 34px;
}

.lang.ru {
    position: absolute;
    top: 30px;
    right: 1px;
}

.globalsearch {
    width: 278px;
    height: 36px;
    background-color: #ffffff;
    position: absolute;
    top: 73px;
    right: 1px;
}

.globalsearch_str {
    width: 240px;
    height: 30px;
    padding: 3px 0 3px 6px;
    font-size: 13px;
    border: 1px solid #999999;
}

.globalsearch_btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    background-image: url("/templates/khabkrai/img/search.png");
    -moz-background-size: 20px; /* Firefox 3.6+ */
    -webkit-background-size: 20px; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 20px; /* Opera 9.6+ */
    background-size: 20px; /* Современные браузеры */
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 8px 8px 8px 0;

}

.viewversion {
    position: absolute;
    top: 38px;
    right: 90px;
    width: 185px;
    color: #58595b;
    cursor: pointer;
    font-size: 13px;
}

.viewversion:hover {
    text-decoration: underline;
}



.contentblock {
    background-color: #ffffff;
    position: relative;
    width: 984px;
    margin: 0 auto 30px;
    padding: 0px;
    height: auto;
    border: 1px solid #000000;
    margin-right: -4px;
}

.contentblock.basemargin {
    padding: 28px;
    width: 928px;
}


.doubleblock
{
    position: relative;
    width: 984px;
    margin: 0 auto 30px;
    padding: 0 0 30px 0;
    height: auto;
    display: inline-block;
}

.doubleleft
{
    background-color: #ffffff;
    position: relative;
    width: 688px;

    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

    height: 100%;
    min-height: 100%;

    border: 1px solid #000000;

    float: left;
    margin-bottom: 30px;
}

.doubleright
{
    background-color: #ffffff;
    position: relative;
    width: 270px;

    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin-left: 21px;

    height: 100%;
    min-height: 100%;
    border: 1px solid #000000;

    margin-bottom: 30px;
}

.svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.svgsome {
    width: 341px; height: 523px;
}

.delete-icon {
    fill: #B10000;
}

.delete-icon:hover {
    fill: #ff0000;
}

.add-icon {
    fill: #00b101;
}

.add-icon:hover {
    fill: #00ca00;
}

.edit-icon {
    fill: #9baa24;
}

.edit-icon:hover {
    fill: #b5c634;
}

.playsmall-icon {
    fill: #ffffff;
    width: 50px;
    height: 50px;
}

.playsmall-icon-middle {
    fill: #ffffff;
    width: 66px;
    height: 66px;
}

.image_container_middle:hover .playsmall-icon-middle {
    fill: #e8e8e8;
    width: 66px;
    height: 66px;
}

.breadcrumbs {
    font-size: 14px;
    width: auto;
    margin: 40px auto 0;
    color: #545455;
}

.breadcrumbs a {
    color: #000000;
}

.main_material_list{
    width: 315px;
    overflow: hidden;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin:20px 0 0 20px;
}

.main_material_list:hover .material_list_name {
    text-decoration: underline;
    color: #545455;
}

.material_list {
    width: 688px;
    cursor: pointer;
    background-color: #ffffff;
}

.material_list:hover {
    background-color: #f8f8f8;
}

.material_list_content {
    vertical-align:top;
    position:relative;

    /*
    display:inline;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    */
    display: block;
}

.material_list_date {
    font-size: 14px;
    color: #868687;
}

.material_list_name {
    font-size: 18px;
    padding: 9px 0 2px 0;
}

.material_list:hover .material_list_name{
    color: #6b6b6b;
    text-decoration: underline;
}

.vidget_photo_video {
    height: 40px;
    width: 264px;
}

.vidget_photo_video.incontent {
    position: absolute;
    top: -30px;
}

.vidget_photo_video .spacer {
    width:27px;
    height:40px;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

}

.vidget_photo_video .option {
    line-height: 40px;
    width: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: #484647;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidjet_incontent{
    width: 290px;
    height: auto;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    float: left;
    min-height: 193px;
}

.vidget_photo_video .option:hover
{
    color: #484647;
    text-decoration: none;
}

.vidget_photo_video .option.active {
    line-height: 40px;
    width: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: default;
    text-decoration: none;
    font-size: 16px;
    background-color: #484647;
    color: #ffffff;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidget_photo_video .option.active:after
{
    content: " ";
    position: absolute;
    top: -4px;
    left: 0px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #484647;
    background-color: #484647;
    display: block;
    height: 3px;
    width: 68px;
}

.vidget_photo_video .option.active:before
{
    content: " ";
    position: absolute;
    top: -4px;
    left: 67px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 0px;
    border-top: 1px solid #484647;
    border-right: 1px solid #484647;
    background-color: #484647;
    display: block;
    height: 3px;
    width: 5px;
}

.material_list_line {
    height: 1px;
    width: 633px;
    margin: 0 auto;
    background-color: #e0e0e1;
}

.material_list_image {
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin:30px;
    margin-right: 0px;
}

.image_container {
    width: 158px;
    min-height: 106px;
    height: auto;
}

.image_container_middle {
    width: 210px;
    min-height: 141px;
    height: auto;
    cursor: pointer;
    background-repeat: round;
}

.material_date
{
    font-size: 14px;
    padding: 0 0 20px 0;
}

.image_container_icon {
    position: relative;
    padding: 28px 0 0 54px;

}

.image_container_icon_middle {
    position: relative;
    padding: 37px 0 0 73px;

}

.vidget_photo_content{
    margin: 30px;
}

.vidget_video_content{
    margin: 30px;
}

.vidget_name{
    margin: 5px 0 30px 0;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
}

.video_list {
    width: 289px;
    min-height: 270px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    margin: 30px 0 0 30px;
    font-size:14px;
}

.video_list_video {
    width: 289px;
    height: 196px;
    background-size: 100%;
    overflow: hidden;
    background-repeat: round;
}

.video_list:hover .svg{
    fill: #e8e8e8;
}

.photo_list {
    background-color: #000000;
    width: 289px;
    height: 196px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    margin: 30px 0 0 30px;
    color: #ffffff;
}

.photo_list:hover{
    color: #000000;
}

.spacer30 {
    position: relative;
    width:30px;
    height:30px;
}

.photo_list_content {
    background: rgba(0,0,0,0.5);
    width: 289px;
    height: 82px;
    position: absolute;
    top: 114px;
    left:0px;
}

.photo_list_name {

    position: absolute;
    top: 133px;
    left: 83px;
    width: 192px;
    height: auto;
    font-size: 11px;
}

.photo_list_counter {
    position: absolute;
    top: 143px;
    left: 14px;
    font-size: 24px;
    line-height: 18px;

}

.photo_list_del {
    position: absolute;
    top: 125px;
    left: 62px;
}

.photo_list:hover .photo_list_content {
    background: rgba(255,255,255,0.5);
}

.content_selector_1 {
    position: relative;
    height: 39px;
    width: 344px;

    margin: 0 0 30px 0;
    padding: 0 10px 0 10px;
    line-height: 39px;
    color: #999999;
}

.file_list_item {
    position: relative;
    width: 885px;
    height: auto;
    padding: 0 0 0 35px;
    color: #545455;
    cursor: pointer;
    min-height: 32px;
}

.file_list_item:before{
    content: '';
    position: absolute;
    top:0px;
    left: -4px;
    width: 26px;
    height: 32px;
    background-size: 26px;
    background: url('/templates/khabkrai/img/download.png');
    background-repeat: round;

}

.file_list_item:hover {
    text-decoration: underline;
}

.file_list_item_small {
    position: relative;
    /* width: 885px; */
    height: auto;
    padding: 0 0 0 35px;
    color: #545455;
    cursor: pointer;
    min-height: 32px;
}

.file_list_item_small:before{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 26px;
    height: 32px;
    background-size: 26px;
    background: url('/templates/khabkrai/img/download.png');
    background-repeat: round;

}

.file_list_item_small:hover a {
    text-decoration: underline;
}

.smallcalendar_body {
    width: 206px;
    margin: 30px auto 30px;
    position: relative;
}

.smallcalendar_header {
    font-size: 22px;
}

.smallcalendar_mainlinks {
    font-size:16px;
    line-height: 32px;
    padding-bottom: 8px;
}

.smallcalend {
    border: 0px;
}

.smallcalend tr, .smallcalend th, .smallcalend td{
    border: 0px;
}

.smallcalend th, .smallcalend td {
    padding: 6px 7px 6px 7px;
    border-top: 1px solid #f0f1f1;
}


.smallcalend th {
    color: #000000;
}

.smallcalend th {
    background-color: #f0f1f1;
}

.main_quote {
    position: absolute;
    top: 30px;
    left: 683px;
}

.main_quote:hover div.hover {
    color: #6b6b6b;
    text-decoration: none;
}

.main_photo
{
    position: absolute;
    width: 370px;
    height: 269px;
    top: 30px;
    left: 287px;
    overflow: hidden;
}

.main_news {
    position: absolute;
    width: 301px;
    height: 296px;
    top: 30px;
    left: -14px;
    z-index: 0;
}

.main_news .option {
    cursor: pointer;
    padding: 7px 10px 7px 24px;
    height: 76px;
    z-index: 10;
}

.main_news .option:hover {
    background-color: #464747;
    color: #ffffff;
}

.main_news .option.active {
    background-color: #464747;
    color: #ffffff;
}

.main_news .option:hover:before {
    content: '';
    background-color: #464747;
    width: 12px;
    height: 85px;
    position: absolute;
    z-index: -10;
    left: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: 1px solid #464747;
    border-left: 1px solid #464747;
}

.main_news .option.active:before {
    content: '';
    background-color: #464747;
    width: 12px;
    height: 85px;
    position: absolute;
    z-index: -10;
    left: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: 1px solid #464747;
    border-left: 1px solid #464747;
}

.main_news_header{
    height: 38px;
    background-color: #e2e3e4;
    line-height: 38px;
    border: 0;
    border-bottom: 1px solid #000000;

}

.main_important_header{
    height: 38px;
    background-color: #464747;
    line-height: 38px;
    border: 0;
    border-bottom: 1px solid #000000;
    color: #ffffff;
    font-size: 16px;
}

.vote_header{
    background-color: #dedfe0;
    padding: 10px;
    box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
}

.main_news_header .option{
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    padding: 0 20px 0 20px;
    font-size:16px;
    text-decoration: underline;

}

.main_news_header .option:hover{
    text-decoration: none;
}

.main_news_header .option.active{
    background-color: #464747;
    color: #ffffff;
    text-decoration: none;
    cursor: default;
}

.main_map {
    /*
    position: absolute;
    left: 360px;
    top:7px;
    */
}

.main_regions {
    position: absolute;
    top: 0px;
    width: 248px;
    left: 729px;
    background-color: #f5f5f5;
    background: linear-gradient(left, #f5f5f5, #ffffff, #fafafa);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff'); /* для IE6-9 */
    background: -webkit-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для webkit-браузеров */
    background: -moz-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для firefox 3.6+ */
    background: -o-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для Opera 11.10+ */
    background: -ms-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для IE10+ */
    height:558px;

    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

}

.main_regions_someline {
    position: absolute;
    top: 0px;
    width: 1px;
    left: 979px;
    height: 558px;
    background-color: #d1d1d1;
    border-right: 1px solid #f3f3f3;
    z-index: -1;

}

.main_regions .option {
    font-size: 14px;
    padding: 0 0 0 20px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
    color: #58595b;
    width: 248px;
    position: relative;

}

.main_regions .option.active {
    color: #ffffff;
    background-color: #484647;
    width: 232px;
    margin-left: -4px;
    padding-left: 24px;
    position: relative;
}

.main_regions .option.active:before{
    content: ' ';
    width: 272px;
    height: 27px;
    z-index: -1;
    background-color: #484647;
    position: absolute;
    margin-top: 3px;
    margin-left: -24px;
}

.main_regions .option:hover{
    color: #ffffff;
    background-color: #484647;
    width: 232px;
    margin-left: -4px;
    padding-left: 24px;
    position: relative;
}

.main_regions .option:hover:before{
    content: ' ';
    width: 272px;
    height: 27px;
    z-index: -1;
    background-color: #484647;
    position: absolute;
    margin-top: 3px;
    margin-left: -24px;
}

.note {

    position: relative;
    overflow:hidden;


}



.SmallRegionInfo {
    position: absolute;
    background-color: #ffffff;
    width: 289px;
    height: 165px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    top: 1563px;
    left: 400px;
    z-index: 10;
    display: none;
}

.main_smallnews_content {
    padding: 10px;
    font-size: 11px;
}

.main_smallnews_content img {
    padding-right: 10px;
}

.smallcalendar_btn {
    width: 213px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f0f5f7;
    color: #545455;
    margin: 10px auto;
}

.smallcalendar_btn:hover {
    color: #ffffff;
    background-color: #7c7c7c;
}

.submenu_container {
    position: absolute;

    height: auto;
    z-index: 300;
    min-width: 200px;
    display: none;
    left: -100px;
    background-color: #eeeeee;
    z-index: 300;
    top:44px;
    left: -160px;
    border: 0px;
}

.submenu_container_long {
    position: absolute;

    min-width: 444px;
    height: auto;
    z-index: 300;
    display: none;
    left: -340px;
    top: 44px;
    background-color: #eeeeee;
    border: 0px;
}

.submenu_container_long .option {
    height: auto;
    line-height: 16px;
    padding: 25px;
    width: 394px;
    border: 1px solid #000000;
    border-top: 0px;
}

.submenu_container .option {
    min-width: 200px;
    border: 1px solid #000000;
    border-top: 0px;
}

.option:hover + .smenu .submenu_container {
    display: block;
}

.option:hover + .smenu .submenu_container_long {
    display: block;
}

.smenu:hover .submenu_container {
    display: block;
}

.smenu:hover .submenu_container_long {
    display: block;
}

.submenu_container .option:hover{
    display: block;
}

.nullblock.smenu {


    width: 0px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0px;
    color: #ffffff;
    cursor: pointer;
    z-index: 600;
    background-color: #c0c0c0;
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

#governor-powers h3
{
    margin: 20px 0 5px 0;
    font-size: 28px;
}

.gov-powers-element
{
    border-top: 1px solid #F1F1F1;
    padding: 10px 0 10px 33px;
    text-indent: -34px;
}

.gov-powers-element-doubleborder
{
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 20px;
}

.congratulations-list-element
{
    margin-bottom: 20px;
}

.congratulations-list-element-no-margin-bottom
{
    margin-bottom: 0;
}

.congratulations-list-element-date
{
    font-size: 12px;
    color: #777979;
}

.congratulations-list-element-name a
{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.congratulations-list-element-name a:hover
{
    text-decoration: underline;
    color: #6b6b6b;
}

.addshedule {
    display: none;
    position: absolute;
    top: 0px;
    left: -10px;
    width: auto;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#commissions-container
{
    margin-top: 20px;
}

.councils-element a:hover, .commissions-element a:hover
{
    text-decoration: underline;
}

.councils-element, .commissions-element
{
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

.double-column-left
{
    position: relative;
    width: 678px;

    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

    height: 100%;
    min-height: 100%;
}

.double-column-right
{
    position: relative;
    width: 270px;

    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin-left: 21px;

    height: 100%;
    min-height: 100%;
}

.double-column-left-item
{
    background-color: #ffffff;
    border: 1px solid #000000;
}

.double-column-right-item
{
    background-color: #ffffff;
    border: 1px solid #000000;
}

.widget-news-element
{
    width: 300px;
    /*height: 80px;*/
    /*overflow: hidden;*/
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin: 30px 0 0 30px;
}

.widget-news-date
{
    font-size: 12px;
    color: #868687;
}

.widget-news-name a
{
    color: #000;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.widget-news-name a:hover
{
    color: #6b6b6b;
    text-decoration: underline;
}

.widget-news
{
    padding-bottom: 20px;
}

.tags {
    color: #858788;
    font-size: 12px;
    position: relative;
    margin-left: 19px;
    margin-top: 15px;
}

.tags:before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 21px;
    background-size: 14px;
    background: url('/templates/khabkrai/img/tags.png');
    background-repeat: round;
    top:-4px;
    left:-19px;
}

.tags a {
    color: #858788;
    text-decoration: none;
}

.tags a:hover{
    color: #6e7071;
    text-decoration: underline;
}

.governor_biography_header {
    background-color: #f5f5f5;
    border-top: 1px solid #ffffff;
    min-height: 234px;
}

.governor_biography_header img {
    padding-right: 25px;
}

.governor_biography_fio {
    color: #545455;
    font-size: 19px;
    padding: 25px 0 20px 0;
}

.governor_biography {
    margin: 20px auto;
}

.governor_biography table {
    border: 0px;
}

.governor_biography td {
    border: 0px;
    min-width: 150px;
    font-size: 14px;
}

.governor_biography .p1 {
    font-size: 18px;
}

.socicons {
    padding-right: 10px;
}

.contacts_header {
    position: relative;
    background-color: #f5f5f5;
    height: 47px;
    color: #898a8a;
    border-bottom: 1px #c8c8c8 solid;
    top: 1px;
    line-height: 46px;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
}

.contacts_header .option {
    height: 47px;
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    /*padding-left: 30px;*/
}

.normalblock {
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidget_right_header {
    font-size: 17px;
    background-color: #545455;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 13px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
}

.footertop_link {
    color: #ffffff;
    text-decoration: underline;
    width: 255px;
    font-size: 16px;
    top: 20px;
}



.anons_header {
    position: absolute;
    top:0px;
    left:0px;
    width: 199px;
    height: 165px;
    background-color: #2170ab;
    color: #ffffff;
    padding: 20px;
}

.anons_body {
    position: absolute;
    top: 40px;
    left: 265px;
    width: 620px;
    height: auto;
    color: #322d2f;
}

.photo_block {
    cursor: pointer;
    background-color: #ffffff;

}

.photo_big_author {
    position: absolute;
    bottom:10px;
    left:10px;
    color: #ffffff;
    width: 902px;
    text-shadow: 0 0 2px black, 1px 1px 4px black;
}

.photo_block:hover {
    background-color: #f8f8f8;
    text-decoration: underline;
    color: #6b6b6b;
}

.photo_smallphotos {
    width: 922px;
    height: 94px;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-top: 5px;
}

.photo_smallphotos div {
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    height: 100px;
    width: 100px;
    padding: 12px 13px 0 2px;
}

.photo_smallphotos div img {
    border: 2px solid #ffffff;
    cursor: pointer;
}

.photo_prev {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    left: 20px;
    top:300px;
}

.photo_next {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    left: 888px;
    top:300px;
}

.main_material_list_content {
    cursor: pointer;
}

.main_region_news {
    position: relative;
    width: 338px;
}

.acredbtn {
    cursor: pointer;
    background-color: #545455;
    color:#ffffff;
    font-size: 18px;
    padding: 15px;
    width: 240px;
}

.acredbtn:hover {
    text-decoration: underline;
    background-color: #6b6b6b;
}

#cboxOverlay, #cboxContent
{
    background-color: #ffffff !important;
}

#cboxOverlay
{
    background-color: transparent !important;
}

#cboxLoadedContent {
    border: 0px !important;
}

#cboxContent {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);
}

#cboxWrapper, #colorbox {
    overflow: visible !important;
}

#cboxClose {
    width: 20px !important;
}

#cboxTitle {
    color: #FFF !important;
    background-color: #7c7c7c !important;
    width: auto !important;
    margin-top: 0px !important;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);

    float: none !important;
}

#cboxCurrent {
    color: #FFF !important;
    background-color: #7c7c7c !important;
    width: auto !important;


    -webkit-box-shadow: 0px 0px 60px 0px rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0px 0px 60px 0px rgba(50, 50, 50, 0.95);
    box-shadow:         0px 0px 60px 0px rgba(50, 50, 50, 0.95);
}

#cboxClose {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);

}

#cboxClose:before
{
    content: '';
    width: 20px;
    height: 20px;

    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset    0px 0px 30px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset         0px 0px 30px 0px rgba(255, 255, 255, 0.6);

    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
}

#cboxTitle:before {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxTitle:after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxCurrent:before {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxCurrent:after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxNext {
    background: url(/templates/khabkrai/img/photoarrbig_next.png) round !important;
    width: 37px !important;
    height: 40px !important;
    right: -5px !important;
}

#cboxPrevious {
    background: url(/templates/khabkrai/img/photoarrbig_prev.png) round !important;
    width: 37px !important;
    height: 40px !important;
    left: -5px !important;
}

.jk_vjt_photo_list {
    position: relative;
    width: 290px;
    overflow: hidden;
    height: 49px;

}

.jk_vjt_photo_listscroll {
    position: relative;
    width: 290px;
    overflow: hidden;
    height: 49px;
    position: absolute;
}

.jk_vjt_photo_small {
    margin-right: 3px;
}

.jk_vjt_photo_rscroll {
    position: absolute;
    top: -45px;
    left: 293px;


    cursor: pointer;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 10px solid #696969;
    border-bottom: 20px solid transparent;
}

.jk_vjt_photo_lscroll{
    position: absolute;
    top: -45px;
    left: -13px;

    cursor: pointer;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 10px solid #696969;
    border-bottom: 20px solid transparent;
}

.bigcalend table, .bigcalend tr, .bigcalend th, .bigcalend td {
    border: 2px solid white;
}

.bigcalend th {
    background-color: #ffffff;
    color: #6b6b6b;
    text-align: center;
}

.bigcalend td {
    width: 130px;
    max-width: 130px;
    text-align: right;
    font-size: 14px;
    background-color: #ececec;
    color: #000000;
    padding: 8px 0 0 0;
}

.bigcalend_event {
    background-color: #4991c7;
    width:124px;
    height:55px;
    overflow: hidden;
    color: #ffffff;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    padding: 3px;
    margin-top: 8px;
    cursor: pointer;

}

.bigcalend_event_null {

    width:124px;
    height:55px;
    text-align: left;
    padding: 3px;
    margin-top: 8px;

}

.bigcalend_event_content {
    width: 500px;
    height: auto;
    min-height: 220px;
    padding: 20px;
}

.bigcalend_window_years {
    width: 80px;
    padding: 10px;
    background-color: #545455;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.bigcalend_window_date {
    width: 250px;
    padding: 10px;
    background-color: #545455;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.bigcalend_header{
    width:926px;
    height:110px;
}

.gover_option{
    width: 238px;
    min-height: 30px;
    cursor: pointer;
    height: auto;
    padding: 15px;
    color: #ffffff;
}

.gover_option:hover{
    background-color: #7c7c7c;
}

.footertop_link {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    height: 140px;
    position: relative;
}

.footertop_scroll {
    width: 100000px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer_link_content
{
    width: 240px;
    height: 140px;
    padding:5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.footer_link_content:hover .footertop_link_name
{
    text-decoration: underline;
}

.footertop_link_name
{
    width: 160px;
    position: absolute;
    top: 20px;
    left: 50px;
}

.footertop_link_img
{
    position: absolute;
    top: 10px;
    left:2px;
}

.footermiddle_content {
    width: 1000px;
    margin: 0 auto;
}

.footershare {
    position: absolute;
    width: 400px;
    top: 240px;
    left: 470px;
}

.rss
{
    position: absolute;
    top: -40px;
    width: 48px;
    left: 637px;
    height: 20px;
    line-height: 20px;
}

.rss a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sharetext {
    position: absolute;
    top: -61px;
    left: 645px;
    width: 180px;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #545455;
}

.shareblock {
    position: absolute;
    top: -69px;
    left: 535px;
    width: 300px;
    text-align: right;
    display: none;
}

.sharetext:hover {
    text-decoration: none;
    color: #000000;
}

.print {
    position: absolute;
    top: -68px;
    left: 833px;
    width: 120px;
    text-align: right;
}

.print a
{
    font-size: 12px;
    text-decoration: none;
}

.footerrub {
    position: absolute;
    top: 21px;
    left: 0px;
    width: 220px;
    height: auto;
}

.footerrub h4{
    color: #AAAAAA;
}

.footerinfo {
    position: absolute;
    top: 21px;
    left: 225px;
    width: 230px;
    height: auto;
}

.footerinfo h4{
    color: #AAAAAA;
}

.footernav {
    position: absolute;
    top: 21px;
    left: 470px;
    width: 230px;
    height: auto;
}

.footernav h4{
    color: #AAAAAA;
}

.footerabout {
    position: absolute;
    top: 21px;
    left: 710px;
    width: 250px;
    height: auto;
}

.footerabout h4{
    color: #AAAAAA;
}

.footeroption a{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.footeroption.active a{
    font-size: 12px;
    color: #AAAAAA;
    text-decoration: none;
}

.footeroption a:hover{
    font-size: 12px;
    color: #AAAAAA;
    text-decoration: none;
}

.header_search_block {
    position: absolute;
    left: 984px;
}

.left_sto {
    left: -100px;
}

.left_dvesti {
    left: -200px;
}

.acredblock {
    position: absolute; top:30px; left:-20px;
}

.material_list_name {
    font-size: 18px!important;
}

.m1_bigban {
    display: none;
}

.m1_smallban {
    display: none;
}

#vote_form {
    font-size: 14px!important;
}

#vote_form > div {
    font-size: 14px!important;
}

.activecontact {
    cursor: pointer;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.activecontact:hover {
    background-color: #e4e4e4;
}

table.noborders {
    padding:28px;
    margin:0;
    border: 0px;
    vertical-align:text-top;
    border-collapse: collapse;
    font-size: 14px;
}

.noborders th { padding:8px;
    margin:8px;
    border: 0px;
    background-color: #00537a;
    color:#ffffff;
    font-weight:normal;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
}

.noborders td { padding:8px;
    margin:8px;
    background-color: white;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.footertop {
    display: none;
}

.footermiddle {
    display: none;
}
/*
.fontsize {
    font-size: 14px;
    width: 200px;
    position: absolute;
    right: 300px;
    top: 36px;
    text-align: right;
}
*/
.contentblock.m1_geo {
    height: auto!important;
    min-height: 558px;
}

#font12 {
    font-size: 10px;
}

#font24 {
    font-size: 18px;
}

.contentblock > ol {
    padding-left: 40px;
}

.contentblock > ul {
    padding-left: 40px;
}

.contentblock > ul > li {
    padding-bottom: 5px;
}

.contentblock > ol > li {
    padding-bottom: 5px;
}

.jq-selectbox.width-200 {
    width: 200px;
}