* {
	margin: 0;
	padding: 0;
}
html {

}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
}

hr {
    padding: 0px;
    margin: 10px 0 0 0;
    border:0px;
    background-color: #bababa;
    height: 1px;
}

a {
	color: #0065a2;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
    color: #004167;
}
p {
	margin: 0px; padding: 0px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	height: auto !important;
    position: relative;
}


h1 {
    font-size: 30px;
    font-weight: normal;
    padding: 15px 0 12px 0;
    max-width: 850px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 12px 0;
}

table.borders {
    padding: 28px;
    margin: 0;
    border: 1px solid #00537a !important;
    vertical-align: text-top;
    border-collapse: collapse;
    font-size: 12px;
}

.borders td {
    padding:8px;
    margin:8px;
    background-color: white;
    border: 1px solid #00537a !important;
    border-collapse: collapse;
    border-spacing: 0px;
}

table {
    padding:28px;
    margin:0;
    border: 1px solid #00537a;
    vertical-align:text-top;
    border-collapse: collapse;
    font-size: 12px;
}

th { padding:8px;
    margin:8px;
    border: 1px solid #00537a;
    background-color: #00537a;
    color:#ffffff;
    font-weight:normal;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
}

td { padding:8px;
    margin:8px;
    background-color: white;
    border: 1px solid #00537a;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.noborders {
    padding:28px;
    margin:0;
    border: 0px;
    vertical-align:text-top;
    border-collapse: collapse;
    font-size: 12px;
}

.noborders th { padding:8px;
    margin:8px;
    border: 0px;
    background-color: #00537a;
    color:#ffffff;
    font-weight:normal;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
}

.noborders td { padding:8px;
    margin:8px;
    background-color: white;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

/* Header
-----------------------------------------------------------------------------*/
/*.header {
	min-height: 178px;
    width: 984px;
    margin: 0 auto;
    position: relative;
}*/

/* Middle
-----------------------------------------------------------------------------*/
.content {
    position: relative;
    margin: 0 auto;
    width: 984px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	margin: 0 auto 0;
	height: 552px;
	position: relative;
	background-color: #fafafa;
}




.footertop {
    width: 100%;
    height: 246px;

    background: #0e517e; /* for non-css3 browsers */
    background: linear-gradient(#0e517e, #003e5d);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e517e', endColorstr='#003e5d'); /* для IE6-9 */
    background: -webkit-linear-gradient(#0e517e, #003e5d); /* для webkit-браузеров */
    background: -moz-linear-gradient(top,  #0e517e, #003e5d); /* для firefox 3.6+ */
    background: -o-linear-gradient(top,  #0e517e,  #003e5d); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e517e,  #003e5d); /* для IE10+ */

}



.footermiddle {
    height: 275px;
    width: 100%;
    background-color: #001f38;
}

.footerbottom {
    width: 984px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

/* Adminpanel
-----------------------------------------------------------------------------*/


/*.mainmenu {
    position: relative;
    width: 100%;
    height: 33px;
    background-color: #ebf1f4;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #86b6da;
}*/

.mainmenu .menu
{
    width: 984px;
    height: 33px;
    position: relative;
    margin: 0 auto;
}

.mainmenu .menu .option
{
    height: 33px;
    display: inline-block;
    line-height: 33px;
/*    padding: 0 15px 0 15px;*/
    padding: 0 6px;
    font-size: 12px;
    color: #4991c7;
    cursor: pointer;

    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}


.mainmenu .menu .option:hover
{
    color: #ffffff;
    background-color: #4991c7;
}

.mainmenu .menu .option.active
{
    color: #ffffff;
    background-color: #4991c7;
}

.mainmenu .menu .date
{
    width: auto;
    height: 33px;
    position: relative;
    display: inline-block;
    line-height: 33px;
    padding: 0 8px 0 8px;
    font-size: 11px;
    color: #4991c7;
    float: right;
}

.main_gprogs {
    height: 245px;
    width: 984px;
    overflow: hidden;
}

.main_gprogs_scroll {
    height: 245px;
    position: absolute;
}

.main_groups_pages {
    position: absolute;
    width: 490px;
    text-align: right;
    top: -32px;
    left: 492px;
}

.main_groups_page {
    width: 16px;
    height: 16px;
    background: url("/templates/khabkrai/img/main_page.png") 100% 100% no-repeat;
    background-size: cover;
    margin-left: 4px;
    cursor: pointer;
}

.main_groups_page.active {
    background-image: url("/templates/khabkrai/img/main_page_active.png");
}

.main_groups_page:hover {
    background-image: url("/templates/khabkrai/img/main_page_active.png");
}

/*.kraiflag {
    height: 934px;
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/templates/khabkrai/img/flag2.jpg");

}*/

.logo {
    top:13px;
    left:9px;
    position: absolute;
    width: 99px;
    height: 110px;
}

.nullblock {
    width: 0px;
    height: 0px;
    position: relative;
}

.logo_text{
    font-size: 20px;
    color: #363639;
    width: 385px;
    top: 38px;
    left: 110px;
    position: absolute;
    text-shadow: 0 0 2px white, 1px 1px 4px white;
}

.lang {
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #f7f8f8;
    border: solid 1px #e2e3e4;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #003d5d;
    cursor: pointer;
}

.lang:hover {
    color: #ffffff;
    background-color: #4891c6;
    border-color: #4891c6;
}

.lang.active {
    color: #ffffff;
    background-color: #4891c6;
    border-color: #4891c6;
    cursor: default;
}

.lang.en {
    position: absolute;
    top: 30px;
    right: 34px;
}

.lang.ru {
    position: absolute;
    top: 30px;
    right: 1px;
}

.globalsearch {
    width: 278px;
    height: 36px;
    background-color: #ffffff;
    position: absolute;
    top: 73px;
    right: 1px;
}

.globalsearch_str {
    width: 240px;
    height: 30px;
    margin: 3px 0 0 3px;
    font-size: 13px;
    border: 0px;
}

.globalsearch_btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    background-image: url("/templates/khabkrai/img/search.png");
    -moz-background-size: 20px; /* Firefox 3.6+ */
    -webkit-background-size: 20px; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 20px; /* Opera 9.6+ */
    background-size: 20px; /* Современные браузеры */
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 8px 8px 8px 0;

}

.viewversion {
    position: absolute;
    top: 38px;
    right: 90px;
    width: 185px;
    color: #58595b;
    cursor: pointer;
    font-size: 13px;
}

.viewversion:hover {
    text-decoration: underline;
}

.secmenu {
    width: 984px;
    height: 44px;
    background-image: url("/templates/khabkrai/img/secmenu_bg.png");
    position: absolute;
    left: 0px;
    top: 134px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    z-index: 300;
}

.new-year-head-img{ /* for new year style of header */
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0;
    top: 96px;
    text-align: center;
}

.secmenu .option {
    width: auto;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0 12px 0 12px;
    font-size: 13px;
    /* color: #ffffff; */
    cursor: pointer;
    min-width: 35px;
    z-index: 300;

    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.secmenu .option:hover {
    background-color: #01527d;
    box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
    -moz-box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
}

.secmenu .option.active {
    background-color: #01527d;
    box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
    -moz-box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.19);
}

.contentblock {
    background-color: #ffffff;
    position: relative;
    width: 984px;
    margin: 0 auto 30px;
    padding: 0px;
    height: auto;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    font-size: 14px;
}

.contentblock.basemargin {
    padding: 28px;
    width: 928px;
}


.doubleblock
{
    position: relative;
    width: 984px;
    margin: 0 auto 30px;
    padding: 0 0 30px 0;
    height: auto;
    display: inline-block;
}

.doubleleft
{
    background-color: #ffffff;
    position: relative;
    width: 688px;

    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

    height: 100%;
    min-height: 100%;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;

    float: left;
    margin-bottom: 30px;
}

.doubleright
{
    background-color: #ffffff;
    position: relative;
    width: 270px;

    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin-left: 21px;

    height: 100%;
    min-height: 100%;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;

    margin-bottom: 30px;
}

.svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.svgsome {
    width: 341px; height: 523px;
}

.delete-icon {
    fill: #B10000;
}

.delete-icon:hover {
    fill: #ff0000;
}

.add-icon {
    fill: #00b101;
}

.add-icon:hover {
    fill: #00ca00;
}

.edit-icon {
    fill: #9baa24;
}

.edit-icon:hover {
    fill: #b5c634;
}

.small-edit-icon {
    fill: #9baa24;
    width: 16px;
    height: 16px;
}

.small-edit-icon:hover {
    fill: #b5c634;
}

.playsmall-icon {
    fill: #ffffff;
    width: 50px;
    height: 50px;
}

.playsmall-icon-middle {
    fill: #ffffff;
    width: 66px;
    height: 66px;
}

.image_container_middle:hover .playsmall-icon-middle {
    fill: #e8e8e8;
    width: 66px;
    height: 66px;
}

.breadcrumbs {
    font-size: 12px;
    width: auto;
    margin: 40px auto 0;
    color: #868687;
}

.breadcrumbs a {
    color: #0093dd;
}

.main_material_list{
    width: 315px;
    overflow: hidden;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin:20px 0 0 20px;
}

.main_material_list:hover .material_list_name {
    text-decoration: underline;
    color: #00659f;
}

.material_list {
    display: block;
    cursor: pointer;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
}

.material_list span.block {
    display: block;
}

.material_list:hover {
    background-color: #f8f8f8;
}

.material_list_content {
    vertical-align:top; position:relative;
    /*
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    */
}

.material_list_date {
    font-size: 10px;
    color: #868687;
}

.material_list_name {
    font-size: 18px;
    padding: 9px 0 2px 0;
}

.material_list:hover .material_list_name{
    color: #0065a2;
    text-decoration: underline;
}

.vidget_photo_video {
    height: 40px;
    width: 264px;
}

.vidget_photo_video .spacer {
    width:27px;
    height:40px;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

}

.vidget_photo_video .option {
    line-height: 40px;
    width: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: #00517b;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidjet_incontent{
    width: 290px;
    height: auto;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    float: left;
    min-height: 193px;
    margin-right: 1em;
}

.vidget_photo_video .option:hover
{
    color: #004367;
    text-decoration: none;
}

.vidget_photo_video .option.active {
    line-height: 40px;
    width: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: default;
    text-decoration: none;
    font-size: 16px;
    background-color: #00517b;
    color: #ffffff;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidget_photo_video .option.active:after
{
    content: " ";
    position: absolute;
    top: -4px;
    left: 0px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #00517b;
    background-color: #00517b;
    display: block;
    height: 3px;
    width: 68px;
}

.vidget_photo_video .option.active:before
{
    content: " ";
    position: absolute;
    top: -4px;
    left: 67px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 0px;
    border-top: 1px solid #3791c4;
    border-right: 1px solid #3791c4;
    background-color: #3791c4;
    display: block;
    height: 3px;
    width: 5px;
}

.material_list_line {
    height: 1px;
    width: 633px;
    margin: 0 auto;
    background-color: #e0e0e1;
}

.material_list_image {
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin:30px;
    margin-right: 0px;
}

.image_container {
    width: 158px;
    min-height: 106px;
    height: auto;
    background-repeat: round;
}

.f_materials_6_75_77_78 .image_container {
    width: 75px;
    float: left;
    margin-right: -75px;
}
.f_materials_6_75_77_78 .image_container + .normalblock {
    padding-left: 80px;
}

.f_materials_6_75_77_78 .material_list {
    border-bottom: 1px solid #bababa;
    margin-bottom: 1em;
    padding-bottom: 0;
}

.image_container_middle {
    width: 210px;
    min-height: 141px;
    height: auto;
    cursor: pointer;
    background-size: cover;
    background-repeat: round;

}

.material_date
{
    font-size: 12px;
    padding: 0 0 20px 0;
    max-width: 780px;
}

.material_date a
{
    display: inline-block;
}

.image_container_icon {
    position: relative;
    padding: 28px 0 0 54px;

}

.image_container_icon_middle {
    position: relative;
    padding: 37px 0 0 73px;

}

.vidget_photo_content{
    margin: 30px;
}

.vidget_video_content{
    margin: 30px;
}

.vidget_name{
    margin: 5px 0 30px 0;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
}

.video_list {
    width: 289px;
    height: 270px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    margin: 30px 0 0 30px;
    font-size:12px;
}

.video_list_video {
    width: 289px;
    height: 196px;
    background-size: 100%;
    overflow: hidden;
    background-size: cover;
}

.video_list:hover .svg{
    fill: #e8e8e8;
}

.photo_list {
    background-color: #000000;
    width: 289px;
    height: 196px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    margin: 30px 0 0 30px;
    color: #ffffff;
}

.f_materials_4_65_67 .photo_list {
    width: 289px;
    height: 196px;
    margin: 30px 0 0 30px;
}

.standart_shablons__gprogs .photo_list {
    float: left;
    display: block;
}
.standart_shablons__gprogs .content-block {
    overflow: hidden;
}
.f_materials_4_65_67 .photo_list_content {
    width: 289px;
    max-width: 100%;
    height: 82px;
    top: 114px;
}

.f_materials_4_65_67 .photo_list_name {
    width: 279px;
    height: auto;
    display: block;
    padding-top: 0;
}
/*
margin: 0 <?= $margin ?> 25px 0;
*/

.photo_list:hover{
    color: #000000;
}

.spacer30 {
    position: relative;
    width:30px;
    height:30px;
}

.photo_list_content {
    background: rgba(0,80,160,0.5);
    width: 289px;
    height: 82px;
    position: absolute;
    top: 114px;
    left:0px;
}

.photo_list_name {

    position: absolute;
    top: 133px;
    left: 83px;
    width: 192px;
    height: auto;
    font-size: 11px;
}

.photo_list_counter {
    position: absolute;
    top: 143px;
    left: 14px;
    font-size: 24px;
    line-height: 18px;

}

.photo_list_del {
    position: absolute;
    top: 125px;
    left: 62px;
}

.photo_list:hover .photo_list_content {
    background: rgba(255,255,255,0.5);
}

.smallcalendar_body {
    width: 206px;
    margin: 30px auto 30px;
    position: relative;
}

.smallcalendar_header {
    font-size: 22px;
}

.smallcalendar_mainlinks {
    font-size:16px;
    line-height: 32px;
    padding-bottom: 8px;
}

.smallcalend {
    border: 0px;
}

.smallcalend tr, .smallcalend th, .smallcalend td{
    border: 0px;
}

.smallcalend th, .smallcalend td {
    padding: 6px 7px 6px 7px;
    border-top: 1px solid #f0f1f1;
}


.smallcalend th {
    color: #000000;
}

.smallcalend th {
    background-color: #f0f1f1;
}

.main_quote {
    position: absolute;
    top: 30px;
    left: 683px;
}

.main_quote:hover div.hover {
    color: #0065a2;
    text-decoration: none;
}

.main_photo
{
    position: absolute;
    width: 370px;
    height: 269px;
    top: 30px;
    left: 287px;
    overflow: hidden;
}

.main_news {
    position: absolute;
    width: 301px;
    height: 296px;
    top: 30px;
    left: -14px;
    z-index: 0;
}

.main_news .option {
    cursor: pointer;
    padding: 8px 10px 9px 24px;
    height: 73px;
    z-index: 10;
}

.main_news .option:hover {
    background-color: #00517b;
    color: #ffffff;
}

.main_news .option.active {
    background-color: #00517b;
    color: #ffffff;
}

.main_news .option:hover:before {
    content: '';
    background-color: #00689a;
    width: 12px;
    height: 85px;
    position: absolute;
    z-index: -10;
    left: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: 1px solid #00689a;
    border-left: 1px solid #00689a;
}

.main_news .option.active:before {
    content: '';
    background-color: #00689a;
    width: 12px;
    height: 85px;
    position: absolute;
    z-index: -10;
    left: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom: 1px solid #00689a;
    border-left: 1px solid #00689a;
}

.main_news_header{
    height: 38px;
    background-color: #e2e3e4;
    line-height: 38px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;

}

.main_important_header{
    height: 38px;
    background-color: #003f5c;
    line-height: 38px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    color: #ffffff;
    font-size: 16px;
}

.vote_header{
    background-color: #dedfe0;
    padding: 10px;
    box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow: inset rgba(0,0,0,0.36) 0 2px 3px 0;
}

.main_news_header .option{
    vertical-align:top; position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    cursor: pointer;
    padding: 0 20px 0 20px;
    font-size:16px;
    text-decoration: underline;

}

.main_news_header .option:hover{
    text-decoration: none;
}

.main_news_header .option.active{
    background-color: #48b784;
    color: #ffffff;
    text-decoration: none;
    cursor: default;
}

.main_regions {
    position: absolute;
    top: 0px;
    width: 248px;
    left: 729px;
    background-color: #f5f5f5;
    background: linear-gradient(left, #f5f5f5, #ffffff, #fafafa);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff'); /* для IE6-9 */
    background: -webkit-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для webkit-браузеров */
    background: -moz-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для firefox 3.6+ */
    background: -o-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для Opera 11.10+ */
    background: -ms-linear-gradient(left, #f5f5f5, #ffffff, #fafafa); /* для IE10+ */
    height:558px;

    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

}

.main_regions_someline {
    position: absolute;
    top: 0px;
    width: 1px;
    left: 979px;
    height: 558px;
    background-color: #d1d1d1;
    border-right: 1px solid #f3f3f3;
    z-index: -1;

}

.main_regions .option {
    font-size: 12px;
    padding: 0 0 0 20px;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
    color: #58595b;
    width: 248px;
    position: relative;

}

.main_regions .option.active {
    color: #ffffff;
    background-color: #48b784;
    width: 232px;
    margin-left: -4px;
    padding-left: 24px;
    position: relative;
}

.main_regions .option.active:before{
    content: ' ';
    width: 272px;
    height: 27px;
    z-index: -1;
    background-color: #07a467;
    position: absolute;
    margin-top: 3px;
    margin-left: -24px;
}

.main_regions .option:hover{
    color: #ffffff;
    background-color: #48b784;
    width: 234px;
    margin-left: -4px;
    padding-left: 24px;
    position: relative;
}

.main_regions .option:hover:before{
    content: ' ';
    width: 272px;
    height: 27px;
    z-index: -1;
    background-color: #07a467;
    position: absolute;
    margin-top: 3px;
    margin-left: -24px;
}

.note {

    position: relative;
    overflow:hidden;


}



.SmallRegionInfo {
    position: absolute;
    background-color: #ffffff;
    width: 289px;
    height: 165px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    top: 1563px;
    left: 400px;
    z-index: 10;
    display: none;
}

.main_smallnews_content {
    padding: 10px;
    font-size: 11px;
}

.main_smallnews_content img {
    padding-right: 10px;
}

.smallcalendar_btn {
    width: 213px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f0f5f7;
    color: #005176;
    margin: 10px auto;
}

.smallcalendar_btn:hover {
    color: #ffffff;
    background-color: #00659f;
}

.submenu_container {
    position: absolute;

    height: auto;
    z-index: 300;
    min-width: 200px;
    display: none;
    left: -100px;
    background-color: #004367;
    z-index: 300;
    top:44px;
    left: -160px;
}

.submenu_container_long {
    position: absolute;

    min-width: 444px;
    height: auto;
    z-index: 300;
    display: none;
    left: -340px;
    top: 44px;
    background-color: #004367;
}

.submenu_container_long .option {
    height: auto;
    line-height: 16px;
    padding: 25px;
    width: 394px;
}

.submenu_container .option {
    min-width: 200px;
}

.option:hover + .smenu .submenu_container {
    display: block;
}

.option:hover + .smenu .submenu_container_long {
    display: block;
}

.smenu:hover .submenu_container {
    display: block;
}

.smenu:hover .submenu_container_long {
    display: block;
}

.submenu_container .option:hover{
    display: block;
}

.nullblock.smenu {


    width: 0px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0px;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    z-index: 300;

    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

#governor-powers h3
{
    margin: 20px 0 5px 0;
    font-size: 28px;
}

.gov-powers-element
{
    border-top: 1px solid #F1F1F1;
    padding: 10px 0 10px 33px;
    text-indent: -34px;
}

.gov-powers-element-doubleborder
{
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 20px;
}

.congratulations-list-element
{
    margin-bottom: 20px;
}

.congratulations-list-element-no-margin-bottom
{
    margin-bottom: 0;
}

.congratulations-list-element-date
{
    font-size: 12px;
    color: #777979;
}

.congratulations-list-element-name a
{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.congratulations-list-element-name a:hover
{
    text-decoration: underline;
    color: #0054A7;
}

.addshedule {
    display: none;
    position: absolute;
    top: 0px;
    left: -10px;
    width: auto;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #001c3a;
}

#commissions-container, #coordinate-container
{
    margin-top: 20px;
}

#councils-header, #commissions-header, #coordinate-header
{
    font-size: 28px;
}

.councils-element a, .commissions-element a, .coordinate-element a, .coordinate-element a:hover
{
    font-size: 15px;
    color: #0054A7;
    text-decoration: none;
}

.councils-element a:hover, .commissions-element a:hover, .coordinate-element a:hover
{
    text-decoration: underline;
}

.councils-element, .commissions-element, .coordinate-element
{
    margin-bottom: 5px;
}

.clear
{
    clear: both;
}

.double-column-left
{
    position: relative;
    width: 688px;

    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;

    height: 100%;
    min-height: 100%;
}

.double-column-right
{
    position: relative;
    width: 270px;

    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin-left: 21px;

    height: 100%;
    min-height: 100%;
}

.double-column-left-item
{
    background-color: #ffffff;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
}

.double-column-right-item
{
    background-color: #ffffff;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
}

.widget-news-element
{
    width: 310px;
    /*height: 80px;*/
    /*overflow: hidden;*/
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    margin: 30px 0 0 30px;
}

.widget-news-date
{
    font-size: 12px;
    color: #868687;
}

.widget-news-name a
{
    color: #000;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.widget-news-name a:hover
{
    color: #005392;
    text-decoration: underline;
}

.widget-news
{
    padding-bottom: 20px;
}

.widget-news-link
{
    margin: 20px 0 0 30px;
}

.widget-news-link a
{
    padding: 8px 10px;
    font-size: 13px;
    color: #31A464;
    text-decoration: none;
    background: #CCE9D9;
    cursor: pointer;
}

.widget-news-link a:hover
{
    color: #CCE9D9;
    background: #31A464;
}

.widget-news-link-blue
{
    margin: 0 0 25px 15px;
}

.widget-news-link-blue a
{
    padding: 8px 10px;
    font-size: 13px;
    color: #0071a7;
    text-decoration: none;
    background: #cbdbe3;
    cursor: pointer;
}

.widget-news-link-blue a:hover
{
    color: #cbdbe3;
    background: #0071a7;
}

.tags {
    color: #858788;
    font-size: 12px;
    position: relative;
    margin-left: 19px;
    margin-top: 15px;
}

.tags:before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 21px;
    background-size: 14px;
    background: url('/templates/khabkrai/img/tags.png') 100% 100% no-repeat;
    background-size: cover;
    top:-4px;
    left:-19px;
}

.tags a {
    color: #858788;
    text-decoration: none;
}

.tags a:hover{
    color: #6e7071;
    text-decoration: underline;
}

.person_biography_header{
    background-color: #f5f5f5;
    border-top: 1px solid #ffffff;
    min-height: 74px;
    padding: 0px 20px;
}

.governor_biography_header img,
.person_biography_header img {
    padding-right: 25px;
}

.governor_biography_fio,
.person_biography_fio {
    color: #00659f;
    font-size: 19px;
    padding: 25px 0 20px 0;
}

.governor_biography,
.person_biography{
    margin: 20px auto;
}

.governor_biography table,
.person_biography table{
    border: 0px;
}

.governor_biography td,
.person_biography td{
    border: 0px;
    min-width: 150px;
    font-size: 14px;
}

.governor_biography .p1,
.person_biography .p1{
    font-size: 18px;
}

.person_biography ul {
    list-style-type: none;
}

.person_biography ul,
.person_biography ol,
.person_biography table {
    margin-bottom: 1.25em;
}
.person_biography p+ul,
.person_biography p+ol,
.person_biography p+table {
    margin-top: 1.25em;
}

.content.main .person_biography li {
    margin-bottom: 1em;
}

.content.main .person_biography ul li::before {
    content:"— ";
    background:none;
}
.person_biography .vidjet_incontent:first-child {
    margin-top: -20px;
    margin-bottom: 20px;
}

.socicons {
    padding-right: 10px;
}

.contacts_header {
    position: relative;
    background-color: #f5f5f5;
    height: 47px;
    color: #898a8a;
    border-bottom: 1px #c8c8c8 solid;
    top: 1px;
    line-height: 46px;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
}

.contacts_header .option {
    height: 47px;
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    padding-left: 30px;
}

.normalblock {
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
}

.vidget_right_header {
    font-size: 17px;
    background-color: #003f5c;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 13px;
    box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -moz-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.36) 0 2px 3px 0;
}

.footertop_link {
    color: #ffffff;
    text-decoration: underline;
    width: 255px;
    font-size: 16px;
    top: 20px;
}



.anons_header {
    position: absolute;
    top:0px;
    left:0px;
    width: 199px;
    height: 165px;
    background-color: #2170ab;
    color: #ffffff;
    padding: 20px;
}

.anons_body {
    position: absolute;
    top: 40px;
    left: 265px;
    width: 620px;
    height: 379px;
    overflow-y: scroll;
    color: #322d2f;
}

.anons_body ul li, .anons_body ol li {
    list-style-position: inside;
}

.photo_block {
    cursor: pointer;
    background-color: #ffffff;

}

.photo_big_author {
    position: absolute;
    bottom:10px;
    left:10px;
    color: #ffffff;
    width: 902px;
    text-shadow: 0 0 2px black, 1px 1px 4px black;
}

.photo_block:hover {
    background-color: #f8f8f8;
    text-decoration: underline;
    color: #0065a2;
}

.photo_smallphotos {
    width: 922px;
    height: 94px;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-top: 5px;
}

.photo_smallphotos div {
    position:relative;
    vertical-align:top;
    display:-moz-inline-stack;
    display:inline-block;
    _overflow:hidden;
    zoom:1;
    *display:inline;
    height: 100px;
    width: 100px;
    padding: 12px 13px 0 2px;
}

.photo_smallphotos div img {
    border: 2px solid #ffffff;
    cursor: pointer;
}

.photo_prev {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    left: 20px;
    top:300px;
}

.photo_next {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    left: 888px;
    top:300px;
}

.main_material_list_content {
    cursor: pointer;
    text-decoration: none;    
    display: block;
}
.main_material_list_content span.material_list_date,
.main_material_list_content span.material_list_name,
.material_list_content .material_list_date,
.material_list_content .material_list_name,
.material_list_content .material_list_anons {
    display: block;
}
.f_material_46 .material_list:first-child, 
.standart_shablons__commission_detail .material_list:first-child {
    padding-top: 0;
}
.f_material_46 .material_list_image,
.standart_shablons__commission_detail .material_list_image {
    float: left;
}
.f_material_46 .material_list,
.standart_shablons__commission_detail .material_list {
    padding-top: 1em;
    overflow: hidden;
}
.f_material_46 .material_list:hover,
.standart_shablons__commission_detail .material_list:hover {
    cursor: default;
}
.f_material_46 .material_list_content a,
.standart_shablons__commission_detail .material_list_content a {
    text-decoration: none;
    color: #000;
}
.f_material_46 .material_list_content a:hover,
.standart_shablons__commission_detail .material_list_content a:hover {
    text-decoration: underline;
    color: #0065a2;
}
.f_material_46 .material_list_name,
.standart_shablons__commission_detail .material_list_name {
    font-size: 18px;
    padding: 9px 0 2px;
}

.f_material_46 .material_list + .material_list,
.standart_shablons__commission_detail .material_list + .material_list {
    border-top: 1px solid #E0E0E0;
}

.main_region_news {
    position: relative;
    width: 338px;
}

.acredbtn {
    cursor: pointer;
    background-color: #00659f;
    color:#ffffff;
    font-size: 18px;
    padding: 15px;
    width: 240px;
}

.acredbtn:hover {
    text-decoration: underline;
    background-color: #004f7e;
}

#cboxOverlay, #cboxContent
{
    background-color: #ffffff !important;
}

#cboxOverlay
{
    background-color: transparent !important;
}

#cboxLoadedContent {
    border: 0px !important;
}

#cboxContent {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);
}

#cboxWrapper, #colorbox {
    overflow: visible !important;
}

#cboxClose {
    width: 20px !important;
}

#cboxTitle {
    color: #FFF !important;
    background-color: #2170ab !important;
    width: auto !important;
    margin-top: 0px !important;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);

    float: none !important;
}

#cboxCurrent {
    color: #FFF !important;
    background-color: #2170ab !important;
    width: auto !important;


    -webkit-box-shadow: 0px 0px 60px 0px rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0px 0px 60px 0px rgba(50, 50, 50, 0.95);
    box-shadow:         0px 0px 60px 0px rgba(50, 50, 50, 0.95);
}

#cboxClose {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);

}

#cboxClose:before
{
    content: '';
    width: 20px;
    height: 20px;

    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset    0px 0px 30px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset         0px 0px 30px 0px rgba(255, 255, 255, 0.6);

    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
}

#cboxTitle:before {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxTitle:after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxCurrent:before {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxCurrent:after {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 5px;
}

#cboxNext {
    background: url(/templates/khabkrai/img/photoarrbig_next.png) round !important;
    width: 37px !important;
    height: 40px !important;
    right: -5px !important;
}

#cboxPrevious {
    background: url(/templates/khabkrai/img/photoarrbig_prev.png) round !important;
    width: 37px !important;
    height: 40px !important;
    left: -5px !important;
}

.jk_vjt_photo_list {
    position: relative;
    width: 290px;
    overflow: hidden;
    height: 49px;

}

.jk_vjt_photo_listscroll {
    position: relative;
    width: 290px;
    overflow: hidden;
    height: 49px;
    position: absolute;
}

.jk_vjt_photo_small {
    margin-right: 3px;
}

.jk_vjt_photo_rscroll {
    position: absolute;
    top: -45px;
    left: 293px;


    cursor: pointer;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 10px solid #2170ab;
    border-bottom: 20px solid transparent;
}

.jk_vjt_photo_lscroll{
    position: absolute;
    top: -45px;
    left: -13px;

    cursor: pointer;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 10px solid #2170ab;
    border-bottom: 20px solid transparent;
}

.bigcalend table, .bigcalend tr, .bigcalend th, .bigcalend td {
    border: 2px solid white;
}

.bigcalend th {
    background-color: #ffffff;
    color: #6b6b6b;
    text-align: center;
}

.bigcalend td {
    width: 130px;
    max-width: 130px;
    text-align: right;
    font-size: 14px;
    background-color: #ececec;
    color: #000000;
    padding: 8px 0 0 0;
}

.bigcalend_event {
    background-color: #4991c7;
    width:124px;
    height:55px;
    overflow: hidden;
    color: #ffffff;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    padding: 3px;
    margin-top: 8px;
    cursor: pointer;

}

.bigcalend_event_null {

    width:124px;
    height:55px;
    text-align: left;
    padding: 3px;
    margin-top: 8px;

}

.bigcalend_event_content {
    width: 500px;
    height: auto;
    min-height: 220px;
    padding: 20px;
}

.bigcalend_window_years {
    width: 80px;
    padding: 10px;
    background-color: #01527d;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.bigcalend_window_date {
    width: 250px;
    padding: 10px;
    background-color: #4991c7;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.bigcalend_header{
    width:926px;
    height:110px;
}

div.plaques:nth-of-type(3n) {
    margin-right: 0;
}

.footertop_link {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    height: 160px;
    position: relative;
}

.footertop_scroll {
    width: 100000px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer_link_content
{
    width: 240px;
    height: 140px;
    padding:5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.footer_link_content:hover .footertop_link_name p
{
    text-decoration: underline;
}

.footer_link_content:hover p.footertop_link_anons
{
    text-decoration: none;
}

.footertop_link_name
{
    width: 170px;
    position: absolute;
    top: 20px;
    left: 50px;
}

.footer_carusel_pages {
    position: absolute;
    width: 500px;
    text-align: right;
    top: -185px;
    left: 490px;
}

.footer_carusel_addlink {
    position: absolute;
    width: 500px;
    text-align: right;
    top: 20px;
    left: 490px;
    font-size: 12px;
}

.footer_carusel_addlink a {
    color: #ffffff;
}

.footer_carusel_name {
    position: absolute;
    width: 500px;
    text-align: left;
    top: -185px;
    left: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.footertop_link_anons {
    color: #5d8398;
    font-size: 13px;
}

.footertop_link_img
{
    position: absolute;
    top: 10px;
    left:2px;
}

.footermiddle_content {
    width: 1000px;
    margin: 0 auto;
}

.footershare {
    position: absolute;
    width: 400px;
    top: 240px;
    left: 470px;
}

.rss
{
    position: absolute;
    top: -40px;
    width: 48px;
    left: 637px;
    height: 20px;
    line-height: 20px;
}

.rss a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sharetext {
    position: absolute;
    top: -66px;
    left: 645px;
    width: 180px;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #0065a2;
}

.shareblock {
    position: absolute;
    top: -69px;
    left: 535px;
    width: 300px;
    text-align: right;
    display: none;
}

.sharetext:hover {
    text-decoration: none;
    color: #004167;
}

.print {
    position: absolute;
    top: -68px;
    left: 833px;
    width: 120px;
    text-align: right;
}

.print a
{
    font-size: 12px;
    text-decoration: none;
}

.footerrub {
    position: absolute;
    top: 21px;
    left: 0px;
    width: 220px;
    height: auto;
}

.footerrub h4{
    color: #AAAAAA;
    padding-bottom: 5px;
}

.footerinfo {
    position: absolute;
    top: 21px;
    left: 225px;
    width: 230px;
    height: auto;
}

.footerinfo h4{
    color: #AAAAAA;
    padding-bottom: 5px;
}

.footernav {
    position: absolute;
    top: 21px;
    left: 470px;
    width: 230px;
    height: auto;
}

.footernav h4{
    color: #AAAAAA;
    padding-bottom: 5px;
}

.footerabout {
    position: absolute;
    top: 21px;
    left: 710px;
    width: 250px;
    height: auto;
}

.footerabout h4{
    color: #AAAAAA;
    padding-bottom: 5px;
}

.footeroption {
    line-height: 19px;
}


.footeroption a{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.footeroption.active a{
    font-size: 12px;
    color: #AAAAAA;
    text-decoration: none;
}

.footeroption a:hover{
    font-size: 12px;
    color: #AAAAAA;
    text-decoration: none;
}

.header_search_block {
    position: absolute;
    left: 984px;
}

.left_sto {
    left: -100px;
}

.left_dvesti {
    left: -200px;
}

.acredblock {
    position: absolute; top:30px; left:-20px;
}

.rkicons:hover {
    text-decoration: underline;
    color: #01527d;
}

.activecontact {
    cursor: pointer;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.activecontact:hover {
    background-color: #e4e4e4;
}

.fontsize {
    display: none;
}

.tree {
    padding-left: 30px;
}

.contentblock > ol {
    padding-left: 40px;
}

.contentblock > ul {
    padding-left: 40px;
}

.contentblock > ul > li {
    padding-bottom: 5px;
}

.contentblock > ol > li {
    padding-bottom: 5px;
}

.governor_biography  ol {
    padding-left: 40px;
}

.governor_biography > ul {
    padding-left: 40px;
}

.governor_biography > ul > li {
    padding-bottom: 5px;
}

.governor_biography > ol > li {
    padding-bottom: 5px;
}

.jq-selectbox.width-200 {
    width: 200px;
}

.ui-widget-content {
    background-image: none;
    background-color: #fff;
    z-index: 2000;
}

.ui-menu .ui-menu-item {
    color: #000;
    background: none;
    border: none;
    font-weight: normal;
    font-family: 'helveticaneuecyrroman', Arial;
    padding: 5px;
}

.ui-menu .ui-menu-item.ui-state-hover, .ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-active{
    color: #0093dd;
    background: none;
    border: none;
    font-weight: normal;
    padding: 5px;
    margin: 0px;
}

#tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    background-color: #003e5b;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.7;
    border-radius: 5px;
}

.toser_form {
    display: block;
    margin-top: 9px;
    margin-bottom: 12px;
    width: 282px;
    padding: 10px 0px 6px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: rgb(0, 147, 221);
    border-color: rgb(0, 147, 221);
    color: #fff;
    text-transform: uppercase;
    border: 1px solid;
}

.toser_form:hover {
    background-color: #fff;
    border: 1px solid #ccc;
    color: rgb(0, 147, 221);
}

.toser_form:active {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccc;
}

.audio-list time {
    float: right;
    font-size: 12px;
}
.vote_header a {
    font-style: normal;
}
