.search-results .filter {
    overflow: hidden;
}
.search-results .filter .filter-block {
    float: right;
    clear: right;
}
.search-results .filter .extra-filter,
.search-results .filter .type-filter {
    line-height: 15px;
    padding-top: 22px;
    text-align: right;
}
.search-results .xradio label {
    cursor: pointer;
}
.search-results .xradio label+label {
    margin-left: 20px;
}
.search-results .xradio label input {
    display: none;
}
.search-results .xradio span {
    color: #0093dd;
    border-bottom: 1px dotted #0093dd;
    font-size: 13px;
}
.search-results .xradio input:checked + span {
    font-weight: bold;
    color: #000;
    border-bottom-color: transparent;
}
.poll-results-row {
    margin: 10px;
}
.poll-results-row-in {
    width: 870px;
    position: relative;
    height: 30px;
}
.poll-results-row-share {
    height: 20px;
}
.poll-results-row-values {
    position: absolute;
    right: -46px;
    top: 0px;
    height: 20px;
    line-height: 20px;
}
.poll-results-row-total-value {
    float: right;
}
.poll-results-total {
    font-weight: bold;
}

#dropzone {
    background-color: #ebeaf8;
    background-image: url("/img/filedropzone.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.addedFile {
    display: inline-block;
    float: left;
    width: 120px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #c8c3eb;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.fileDel {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 104px;
    border-radius: 50%;
    background-color: #fff;
    width: 13px;
    height: 13px;
    padding: 0px;
    text-align: center;
}