@import '../common/commonVariables.scss';
@import '../common/mixins.scss';

.accordion {
  &__title {
    &:hover {
      .accordion__title-text {
        color: $patternLinkColorBrownTheme;
      }

      .accordion__arrow-down {
        fill: $patternLinkColorBrownTheme;
      }
    }
  }
}

.section-admission-places {
  background-color: $patternDarkColorBrownTheme;
}

.adverts-item {
  &__link:hover {
    color: $patternLinkColorBrownTheme;
  }
}

.attachment-image {
  &__extension {
    background-color: $patternLightColorBrownTheme;
  }
}

.audio-files {
  &__item {
    background: $patternSecondaryColorBrownTheme;
  }
}

.breadcrumbs {
  &__link {
    color: $patternLinkColorBrownTheme;

    &:hover {
      border-bottom: 1px solid $patternLinkColorBrownTheme;
    }
  }
}

.btn-show-more {
  &:hover {
    border-color: $patternLinkColorBrownTheme;
    background-color: $patternLinkColorBrownTheme;
  }
}

.btn-up-page {
  &:hover {
    background-color: $patternLinkColorBrownTheme;
  }
}

.btn-print {
  &:hover {
    .btn-print__icon {
      fill: $patternLinkColorBrownTheme;
    }
  }
}

.link-download {
  &--attachment {
    &:hover {
      .link-download__icon {
        fill: $patternLinkColorBrownTheme;
      }

      .link-download__text {
        color: $patternLinkColorBrownTheme;
      }
    }
  }
}

.show-more-link {
  color: $patternLinkColorBrownTheme;

  &:hover {
    color: $patternLightColorBrownTheme;
  }

  &--admission-places {
    background-color: $patternSecondaryColorBrownTheme;

    &:hover {
      background-color: $patternLinkColorBrownTheme;
    }
  }
}

.slick-current .main-section-additional-carousel-item__img {
  border: 4px solid $patternLinkColorBrownTheme;
}

.useful-links-carousel-item {
  &__link:hover {
    color: $patternLinkColorBrownTheme;
  }
}

.useful-links-carousel-arrow {
  &:hover .useful-links-carousel-arrow__icon {
    fill: $patternLinkColorBrownTheme;
  }
}

.section-education-programs {
  &__link {
    color: $patternLinkColorBrownTheme;

    &:hover {
      color: $patternLightColorBrownTheme;
    }
  }
}

.footer {
  &__link:hover {
    color: $patternLinkColorBrownTheme;
  }

  &__bottom {
    background-color: $patternDarkColorBrownTheme;
  }
}

.social-links {
  &__item {
    &--header {
      &:hover {
        fill: $patternLightColorBrownTheme;
      }
    }

    &--footer {
      &:hover {
        fill: $patternLightColorBrownTheme;
      }
    }
  }
}

.header {
  &__top {
    background-color: $patternPrimaryColorBrownTheme;
  }

  &__menu {
    &--submenu {
      background-color: $patternSecondaryColorBrownTheme;

      > li > a {
        border-bottom: 1px solid $patternDarkColorBrownTheme;
        background-color: $patternSecondaryColorBrownTheme;
      }

      .header__menu--submenu > li > a:hover {
        color: $patternLinkColorBrownTheme;
      }
    }

    &--additional {
      > li > a:hover {
        color: $patternLinkColorBrownTheme;
      }
    }

    &--main {
      > li > a {
        background-color: $patternPrimaryColorBrownTheme;

        @include break960 {
          background-color: $patternSecondaryColorBrownTheme;
        }
      }

      > li > a:hover {
        background-color: $patternSecondaryColorBrownTheme;
      }
    }

    @include break960 {
      &--main {
        background-color: $patternSecondaryColorBrownTheme;
      }
    }
  }

  &__phone {
    &:hover {
      .header__icon-phone {
        fill: $patternLightColorBrownTheme;
      }

      .header__phone-text {
        color: $patternLightColorBrownTheme;
      }
    }
  }

  &__impaired-version-switch {
    &:hover .header__impaired-version-icon {
      fill: $patternLightColorBrownTheme;
    }
  }
}

.font-size-switch {
  &:hover .font-size-switch__symbol {
    fill: $patternLinkColorBrownTheme;
  }
}

.child-pages-list {
  &__link {
    color: $patternLinkColorBrownTheme;

    &:hover {
      border-bottom: 1px solid $patternLinkColorBrownTheme;
      color: $patternLinkColorBrownTheme;
    }
  }
}

.main-content {
  a {
    color: $patternLinkColorBrownTheme;

    &:hover {
      border-bottom: 1px solid $patternLinkColorBrownTheme;
      color: $patternLinkColorBrownTheme;
    }
  }
}

.materials-list-with-images-item {
  &__link {
    color: $patternLinkColorBrownTheme;

    &:hover {
      color: $patternLightColorBrownTheme;
    }
  }
}

.news-tile-item {
  background-color: $patternSecondaryColorBrownTheme;

  &__category-label {
    background-color: $patternLabelColorBrownTheme;
  }
}

.sidebar {
  &__adverts {
    border-left: 4px solid $patternLightColorBrownTheme;
  }

  &__news-item-link:hover {
    color: $patternLinkColorBrownTheme;
  }
}

.material-info-item {
  &__link {
    color: $patternLinkColorBrownTheme;

    &:hover {
      border-bottom: 1px solid $patternLinkColorBrownTheme;
      color: $patternLinkColorBrownTheme;
    }
  }
}

.audiojs {
  .play,
  .pause,
  .error,
  .loading {
    background-image: url("../img/decor/spriteAudioPlayerBrownTheme.png");
  }
}
