.block-doclist {
	position: relative;
	margin: 0;
	padding: 0;
	/*width: 284px;*/
}

.block-doclist h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	color: #000;
	padding-bottom: 8px;
	margin-bottom: 18px;
}

.block-doclist .doc a {
	color: #000;
	text-decoration: none;
}

.block-doclist .doc a:hover,
.block-doclist .doc a:active {
	color: rgb(0, 147, 221);
	text-decoration: underline;
}

.block-doclist .size-extension,
.block-doclist .size-extension a {
	padding-top: 2px;
	color: #bbb;
}

.download_all {
	float: right;
	width: 36px;
	height: 36px;
	background: url("/images/restyled/download-file.png") 0px 0px no-repeat;
	margin-top: 20px;
	margin-left: 0px;
}

.download_all:hover,
.download_all:active {
	background-position: 0px -36px;
}

.block-doclist .bottom-link {
	display: block;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	color: #ccc;
	width: 236px;
	padding: 9px 0px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.block-doclist .bottom-link:hover {
	color: rgb(0, 147, 221);
}

.block-doclist .bottom-link:active {
	background-color: rgb(0, 147, 221);
	border-color: rgb(0, 147, 221);
	color: #fff;
}
