.accordion {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #eaecf0;
  border-bottom: 1px solid #eaecf0;

  @include maxWidth(740) {
    margin-top: 30px;
    padding: 14px 0;
  }

  &__title-text {
    margin-top: 0;
    padding-right: 26px;
  }

  &__arrow-down {
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease;
    fill: $grayColor;

    @include maxWidth(740) {
      width: 20px;
      height: 20px;
    }
  }

  &__content-count {
    color: $grayColor;
  }

  &__title {
    @extend %layout-row-sb-start;

    cursor: pointer;

    &:hover {
      .accordion__title-text {
        color: $patternLinkColor;
      }

      .accordion__arrow-down {
        fill: $patternLinkColor;
      }
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease;
    opacity: 0;
  }

  &.active {
    .accordion__arrow-down {
      transform: rotate(180deg);
    }

    .accordion__content {
      height: auto;
      opacity: 1;
    }
  }
}
