.contentblock {
  box-sizing: content-box;

  .table-bootstrap th {
    color: #fff !important;
  }

  .wrap-table {
    overflow: visible;
  }
}

.adminTitle {
  font-size: 26px;
}

.adminSubtitle {
  font-size: 22px;
}

.container-fluid {
  font-size: 14px;
}

.admin-nav-bar-site-version {
  height: 40px;
  padding: 5px;
  float: right;
  color: #fff;
  line-height: 16px;

  @include maxWidth(1100) {
    display: none;
  }
}

#cboxContent .wrap-table {
  overflow: visible;
}
