.adverts-section {
  padding-top: 1px;
  padding-bottom: 52px;
  background-color: #f6f6f6;

  &__title {
    margin-top: 52px;
  }
}

.adverts-list {
  @extend %layout-row-sb-start;

  flex-flow: wrap;
}

.adverts-item {
  &__title {
    margin-top: 0;
  }

  &__link:hover {
    color: $patternLinkColor;
  }

  &__description {
    margin-top: 10px;
  }

  &--sidebar {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &--frontpage {
    width: 290px;
    margin-top: 30px;

    @include maxWidth(1300) {
      width: 258px;
    }

    @include maxWidth(1160) {
      width: 47%;
    }

    @include maxWidth(560) {
      width: 100%;
    }
  }
}
