.attachment {
  @extend %layout-row-start;

  margin-top: 30px;

  &__wrap-title {
    margin-top: 4px;
    margin-left: 16px;
  }
}

.attachment-image {
  padding-top: 39px;
  background-image: url('/img/decor/iconsAttachments/undefined.svg');
  background-repeat: no-repeat;

  &--document {
    background-image: url('/img/decor/iconsAttachments/document.svg');
  }

  &--image {
    background-image: url('/img/decor/iconsAttachments/image.svg');
  }

  &--video {
    background-image: url('/img/decor/iconsAttachments/video.svg');
  }

  &__extension {
    width: 42px;
    padding: 3px 0;
    background-color: $patternLightColor;
    color: #fff;
    font-family: 'RalewaySemiBold', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
}
