.audio-files {
  display: inline-block;
  margin-top: 20px;

  @include maxWidth(980) {
    width: 100%;
  }

  @include maxWidth(560) {
    width: 300px;
  }

  &__item {
    position: relative;
    margin-top: 12px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    background: $patternSecondaryColor;

    @include maxWidth(560) {
      padding: 15px 15px 10px;
    }
  }

  &__item-title {
    position: absolute;
    top: 18px;
    left: 68px;
    color: #fff;

    @include maxWidth(740) {
      font-size: 14px;
    }

    @include maxWidth(560) {
      left: 62px;
    }
  }

  &__download-link {
    display: inline-block;
    vertical-align: middle;
  }
}

.audiojs {
  display: inline-block;
  position: relative;
  width: 794px;
  background: none;
  box-shadow: none;
  vertical-align: middle;

  @include maxWidth(980) {
    width: 680px;
  }

  @include maxWidth(740) {
    width: 518px;
  }

  @include maxWidth(560) {
    width: 274px;
  }

  .play-pause {
    width: 36px;
    height: 32px;
    padding: 0;
    border: none;
  }

  .play,
  .pause,
  .error,
  .loading {
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("/img/decor/spriteAudioPlayer.png");
    background-repeat: no-repeat;
  }

  .play {
    background-position: center 8px;
  }

  .pause {
    background-position: center -18px;
  }

  .error {
    background-position: center -44px;
  }

  .loading {
    background-position: center -69px;
  }

  .scrubber {
    width: 736px;
    height: 4px;
    margin-top: 24px;
    margin-left: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.32);

    @include maxWidth(980) {
      width: 616px;
    }

    @include maxWidth(740) {
      width: 456px;
    }

    @include maxWidth(560) {
      width: 216px;
    }
  }

  .progress {
    height: 4px;
    background: #fff;
  }

  .loaded {
    background: rgba(255, 255, 255, 0.4);
  }

  .time {
    position: absolute;
    top: -8px;
    right: 6px;
    border: none;
    color: #fff;
    font-family: 'PTMonoRegular', sans-serif;
    font-size: 14px;
    text-shadow: none;

    @include maxWidth(740) {
      top: -10px;
      font-size: 12px;
    }

    @include maxWidth(560) {
      display: none;
    }
  }
}
