.breadcrumbs {
  margin-top: 14px;
  color: $grayColor;

  &__link {
    color: $patternLinkColor;

    &:hover {
      border-bottom: 1px solid $patternLinkColor;
    }
  }
}

.breadcrumbs a {
  color: $patternLinkColor;
}
