.wrap-main-section-carousel {
  position: relative;

  @include maxWidth(1160) {
    width: 950px;
  }

  @include maxWidth(980) {
    width: 100%;
  }
}

.main-section-carousel {
  width: 100%;
  margin-top: 40px;
  font-size: 0;

  @include maxWidth(560) {
    margin-top: 30px;
  }
}

.main-section-carousel-item {
  text-align: center;

  img {
    display: inline-block;
  }
}

.main-section-additional-carousel.slick-slider {
  margin-top: 20px;

  @include maxWidth(560) {
    display: none;
  }
}

.slick-slide {
  height: auto;
}

.main-section-additional-carousel-item {
  width: 100px;
  padding: 0 10px;

  &__img {
    cursor: pointer;
  }
}

.slick-current .main-section-additional-carousel-item__img {
  border: 4px solid $patternLinkColor;
  cursor: default;
}

.carousel-nav-arrow {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 48px;
  height: 100%;
  transition: background-color 0.1s linear;
  background-color: rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  @include maxWidth(740) {
    width: 34px;
  }

  @include maxWidth(560) {
    display: none;
  }

  &::before {
    content: '';
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.12);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--prev {
    left: 0;
    background-image: url("/img/decor/carousel/arrowLeft.png");

    &:hover,
    &:focus {
      background-image: url("/img/decor/carousel/arrowLeft.png");
    }
  }

  &--next {
    right: 0;
    background-image: url("/img/decor/carousel/arrowRight.png");

    &:hover,
    &:focus {
      background-image: url("/img/decor/carousel/arrowRight.png");
    }
  }
}

.slick-dots {
  bottom: 10px;

  li {
    width: 14px;
    height: 14px;
    margin: 0 7px;

    @include maxWidth(560) {
      width: 10px;
      height: 10px;
    }

    button {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.54);

      @include maxWidth(560) {
        width: 10px;
        height: 10px;
      }

      &::before {
        display: none;
      }
    }
  }

  .slick-active button {
    background-color: rgba(255, 255, 255, 1);
  }
}
