.header {
  padding-bottom: 40px;

  @include break1140 {
    padding-bottom: 24px;
  }

  @include break960 {
    position: static;
    padding-bottom: 32px;
  }

  &--frontpage {
    padding-bottom: 0;
  }

  &__top {
    @extend %layout-row-sb-center;

    height: 54px;
    padding: 0 30px;
    background-color: $patternPrimaryColor;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    @include break1490 {
      padding: 0 10px;
    }

    @include break1140 {
      height: 51px;
    }

    @include break960 {
      position: static;
      padding: 0;
    }
  }

  &__left-side {
    @extend %layout-row-wrap-start;
  }

  &__wrap-logo {
    position: relative;
    z-index: 205;
    width: 124px;
    height: 54px;

    @include break1140 {
      width: 110px;
      height: 51px;
    }

    @include break960 {
      width: 80px;
    }

    @include break960 {
      width: 70px;
      margin-left: 10px;
    }
  }

  &__mount-logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  &__logo {
    position: absolute;
    top: 26px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;

    @include break1140 {
      top: 20px;
      width: 70px;
    }

    @include break960 {
      top: 14px;
      width: 50px;
    }
  }

  &__menu {
    @extend %reset-list-style;

    z-index: 200;
    margin-left: 7px;

    a {
      font-family: 'RalewayMedium', sans-serif;
    }

    &--submenu {
      display: none;
      position: absolute;
      z-index: 210;
      left: 0;
      margin-left: 0;
      background-color: $patternSecondaryColor;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      line-height: 1.2;

      > li > a {
        @extend %layout-row-start-center;

        width: 292px;
        padding: 10px 16px;
        border-bottom: 1px solid $patternDarkColor;
        background-color: $patternSecondaryColor;
        color: #fff;

        @include break1140 {
          width: 230px;
          font-size: 14px;
        }
      }

      > li:last-child > a {
        border-bottom: none;
      }

      > li > a:hover {
        background-color: #f8f8f8;
        color: #141414;
      }

      .header__menu--submenu {
        display: block;
        z-index: -1;
        top: 0;
        left: 95%;
        opacity: 0;
      }

      li:hover > .header__menu--submenu {
        z-index: 10;
        left: 100%;
        transition: 0.2s ease;
        opacity: 1;
      }

      .header__menu--submenu > li > a {
        background-color: #f8f8f8;
        color: #141414;
      }

      .header__menu--submenu > li > a:hover {
        color: $patternLinkColor;
      }
    }

    &--additional {
      z-index: 190;
      margin-left: 136px;

      li {
        display: inline-block;
      }

      > li > a {
        @extend %layout-row-start-center;

        padding: 10px;
        color: $grayColor;
        font-size: 14px;

        @include break1490 {
          padding: 10px 6px;
        }
      }

      > li > a:hover {
        color: $patternLinkColor;
      }

      @include break1280 {
        display: none;
      }
    }

    &--main {

      > li {
        position: relative;

        &:hover > .header__menu--submenu {
          display: block;
        }
      }

      li {

        &.header__impaired-version-menu-link {
          display: none;

          @include break960 {
            display: inline-block;
          }
        }
      }

      > li > a {
        @extend %layout-column-center;

        display: inline-flex;
        height: 54px;
        padding: 0 15px;
        background-color: $patternPrimaryColor;
        color: #fff;

        @include break1490 {
          padding: 0 10px;
        }

        @include break1140 {
          height: 51px;
          padding: 0 7px;
          font-size: 14px;
        }

        @include break960 {
          height: 38px;
          background-color: $patternSecondaryColor;
        }
      }

      > li > a:hover {
        background-color: $patternSecondaryColor;
      }
    }

    li {
      position: relative;

      &:hover > .header__menu--submenu {
        //display: block;
      }
    }

    @include break960 {
      &--main {
        display: flex;
        position: absolute;
        top: 48px;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 0;
        margin-left: 0;
        padding: 0;
        overflow: hidden;
        transition: 0.2s ease;
        background-color: $patternSecondaryColor;
        text-align: center;
      }

      &--main-active {
        height: auto;
        min-height: calc(100% - 40px);
        padding: 25px 0;
        box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.3);
      }

      li:hover > .header__menu--submenu {
        display: none;
      }
    }
  }

  &__menu-item {
    display: inline-block;
  }

  &__right-side {
    @extend %layout-row-end-center;
  }

  &__icon-phone {
    width: 20px;
    height: 16px;
    fill: #fff;
    vertical-align: middle;
  }

  &__phone-text {
    margin-left: 5px;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
  }

  &__phone {
    @extend %layout-row-center;

    height: 54px;

    &:hover {
      .header__icon-phone {
        fill: $patternLightColor;
      }

      .header__phone-text {
        color: $patternLightColor;
      }
    }

    @include break1280 {
      .header__phone-text {
        display: none;
      }
    }

    @include break1140 {
      display: none;
    }
  }

  &__impaired-version-icon {
    width: 25px;
    height: 16px;
    fill: #fff;
  }

  &__btn-menu {
    display: none;
    position: relative;
    width: 40px;
    height: 48px;

    &::before {
      @extend %pseudo;

      top: 18px;
      right: 0;
      left: 0;
      width: 30px;
      height: 2px;
      margin: 0 auto;
      transition: 0.2s ease;
      border-radius: 1px;
      background-color: #fff;
    }

    &::after {
      @extend %pseudo;

      top: 26px;
      right: 0;
      left: 0;
      width: 30px;
      height: 2px;
      margin: 0 auto;
      transition: 0.2s ease;
      border-radius: 1px;
      background-color: #fff;
    }

    &--active::before {
      top: 22px;
      transform: rotate(45deg);
    }

    &--active::after {
      top: 22px;
      transform: rotate(-45deg);
    }

    @include break960 {
      display: block;
      margin-right: 10px;
    }
  }

  &__impaired-version-switch {
    @extend %layout-row-center;

    height: 54px;
    margin-left: 12px;
    padding: 0 14px;

    &:hover .header__impaired-version-icon {
      fill: $patternLightColor;
    }

    &--active {
      background-color: #000;
    }

    @include break1140 {
      height: 51px;
    }

    @include break960 {
      display: none;
    }
  }

  &__bottom {
    @extend %layout-row-sb-center;

    height: 40px;
    padding: 0 30px;

    &--frontpage {
      background: #f5f2f0;
    }

    @include break1490 {
      padding: 0 10px;
    }

    @include break960 {
      display: none;
    }
  }
}

.font-size-switches {
  margin-right: 13px;

  &__label {
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 2px;
    vertical-align: middle;

    @include break1140 {
      font-size: 14px;
    }
  }
}

.font-size-switch {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  &__balloon {
    width: 28px;
    height: 34px;
    fill: #eaecf0;
  }

  &__symbol {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    width: 15px;
    height: 17px;
    margin: 0 auto;
  }

  &--1x .font-size-switch__symbol {
    width: 13px;
    height: 15px;
  }

  &--2x .font-size-switch__symbol {
    width: 16px;
    height: 19px;
  }

  &--3x .font-size-switch__symbol {
    width: 20px;
    height: 22px;
  }

  &--active {
    .font-size-switch__balloon {
      fill: #000;
    }

    .font-size-switch__symbol {
      fill: #fff;
    }
  }

  &:hover .font-size-switch__symbol {
    fill: $patternLinkColor;
  }
}
