.wrap-content {
  margin-top: 30px;

  &--double {
    @extend %layout-row-sb-start;
  }

  @include break1280 {
    margin-top: 26px;
  }

  @include break960 {
    margin-top: 20px;
  }
}

.wrap-title-with-additional-btns {
  @extend %layout-row-sb-start;
}

.child-pages {
  margin-top: 40px;

  @include maxWidth(980) {
    margin-top: 20px;
  }

  &__title {
    margin-top: 0;
  }
}

.child-pages-list {
  margin-top: 20px;

  &__item {
    margin-top: 10px;
  }

  &__link {
    color: $patternLinkColor;

    &:hover {
      border-bottom: 1px solid $patternLinkColor;
      color: $patternLinkColor;
    }
  }
}

.main-section {
  width: 950px;

  @include break1280 {
    width: 810px;
  }

  @include break1140 {
    width: 100%;
  }
}

.main-content {
  margin-top: 40px;

  @include break1140 {
    margin-top: 30px;
  }

  @include break960 {
    margin-top: 20px;
  }

  p {
    line-height: 1.3;
  }

  a {
    color: $patternLinkColor;

    &:hover {
      border-bottom: 1px solid $patternLinkColor;
      color: $patternLinkColor;
    }
  }

  ul li,
  ol li {
    margin-top: 12px;
  }

  video {
    width: 100%;
  }
}
