.materials-list-with-images {
  @extend %layout-row-wrap-start;

  @include maxWidth(740) {
    flex-direction: column;
    align-items: center;
  }
}

.materials-list-with-images-item {
  width: 290px;
  margin-top: 40px;
  margin-right: 40px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @include maxWidth(1300) {
    width: 255px;
  }

  @include maxWidth(1160) {
    width: 290px;

    &:nth-child(4n) {
      margin-right: 40px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include maxWidth(980) {
    &:nth-child(3n) {
      margin-right: 40px;
    }
  }

  @include maxWidth(740) {
    width: 250px;
    margin-top: 30px;
    margin-right: 0;

    &:nth-child(3n),
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__image {
    border-radius: 10px;
  }

  &__title {
    margin-top: 12px;
    font-family: 'RalewaySemiBold', sans-serif;
    font-size: 20px;

    @include maxWidth(740) {
      font-size: 16px;
    }
  }

  &__description {
    margin-top: 12px;
    font-size: 16px;

    @include maxWidth(740) {
      margin-top: 8px;
      font-size: 14px;
    }
  }

  &__link {
    color: $patternLinkColor;

    &:hover {
      color: $patternLightColor;
    }
  }
}
