.news-tile {
  display: grid;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;

  @include maxWidth(740) {
    display: block;
  }
}

.news-tile-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: $patternSecondaryColor;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%;

  @include maxWidth(1300) {
    background-position: center center;
    -webkit-background-size: unset;
    background-size: unset;
  }

  @include maxWidth(740) {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  &:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;

    @include maxWidth(740) {
      grid-column: 1 / 5;
    }
  }

  &:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;

    .news-tile-item__title {
      font-size: 44px;

      @include break1280 {
        font-size: 40px;
      }

      @include break1140 {
        font-size: 36px;
      }

      @include break960 {
        font-size: 32px;
      }

      @include break720 {
        font-size: 26px;
      }

      @include break540 {
        font-size: 19px;
      }
    }
  }

  &:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  &:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
  }

  &:nth-child(7) {
    grid-column: 4;
    grid-row: 3;
  }

  &__blackout {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

    &:hover {
      height: 140%;
    }
  }

  &__category-label {
    display: inline-block;
    z-index: 3;
    padding: 5px 8px;
    background-color: $patternLabelColor;
    color: rgba(65, 65, 65, 0.34);
    font-size: 13px;
    line-height: normal;
    text-transform: uppercase;
  }

  &__wrap-content {
    width: 100%;
    height: 100%;
  }

  &__wrap-title {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 25px;
    color: #fff;
  }

  &__wrap-title:hover + .news-tile-item__blackout {
    height: 140%;
  }

  &__title {
    margin-top: 10px;

    @include maxWidth(740) {
      font-size: 22px;
    }
  }
}
