.body--print {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-more-link {
    display: none;
  }

  .btn-print {
    display: none;
  }

  .btn-up-page {
    display: none;
  }

  .btn-show-more {
    display: none;
  }
}
